input {
	border:1px solid var(--main-bg-color);
	padding:8px;
	width:100%;
}

select {
	width:100%
}


input[type=submit], input[type=button],  button {
	width:auto;
	display: inline-block;
	padding:8px 16px;
}



form > div {
	width:100%;
	display:grid;
	grid-template-columns: 30% 70%;
	padding:8px 6px;
}

