<!DOCTYPE html>
<html>
<head>
	<title>Basic layout</title>
	<meta name="description" content="A test layout">
	<meta name="author" content="Tom peer">
</head>

<body>

	<div id="ubercontainer">

		<div id="header" class="scheme-spanning">
			<content type="title" id="sitetitle">
				{{site.title}}	
			</content>
			<content id="topmenu" type="menu"></content>
			<content id="hamburger" type="button" class="scheme-button">
				<title>Menu button</title>
				<href>
					#mainmenu.open
				</href>
				<content>
						
				</content>				
			</content>

		</div>

		<div id="topnav" class="scheme-spanning">
			<content type="text" id="breadcrumb">
				You are here: {{section.location}}	
			</content>
		</div> 

		<div id="content" class="scheme-spanning">

			<div id="contentheader">
				
			</div>
			
			<div id="contentwrap">

				<div id="subcol">
					<content id="mainmenu" type="menu"></content>
				</div>
				
				<div id="maincol">
					<content id="welcome" data-notes="Notes here">
						<title>{{section.title}}</title>
						{{section.copy}}
					</content>
				</div>

				<div id="xcol">
				</div>

			</div>

			<div id="contentfooter">
				<content id="welcome1">
					<title>Footer item 1</title>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					<field-image>../images/harley-davidson-XnhmpwEbv5I-unsplash_thumb.jpg</field-image>
				</content>
				<content id="welcome2">
					<title>Footer item 2</title>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					<field-image>../images/mica-mota-Y1OUQTZRqMo-unsplash_thumb.jpg</field-image>
				</content>
				<content id="welcome3">
					<title>Footer item 3</title>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					<field-image>../images/kalis-munggaran-Z89kRdt8wFE-unsplash_thumb.jpg</field-image>
				</content>
			</div>

		</div>

		<div id="footer" class="scheme-spanning">
			<content id="footermenu" type="menu"></content>
			<content id="copyright">{{site.meta.copyright}}</content>
			<content id="contactme">{{site.meta.contacttel}}</content>
		</div>

		<div id="bottomnav" class="scheme-spanning">
			<content id="bottomnav1">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit
			</content>
		</div>

	</div>

</body>
</html>