<!DOCTYPE html>
<html>
<head>
	<title>{{page.title}}</title>
	<meta name="description" content="{{site.meta.description}}">
	<meta name="author" content="{{site.meta.author}}">
</head>
<body data-test="1">

	<div id="uberContainer">

		<div id="header">
			<content type="title" id="sitetitle">
				{{site.title}}	
			</content>
		</div>

		<div id="content">

			<div id="subcol">
				<content id="mainmenu" type="menu"></content>
			</div>
			
			<div id="maincol">
				<content id="welcome" data-notes="Notes here">
					<title>{{section.title}}</title>
					<content>
					{{section.copy}}
					</content>
				</content>
			</div>

			<div id="xcol">
			</div>

		</div>

		<div id="footer">
			<content id="footermenu" type="menu"></content>
			<content id="copyright">{{site.meta.copyright}}</content>
			<content id="copntactme">{{site.meta.contacttel}}</content>
		</div>

	</div>

</body>
</html>