<!DOCTYPE html>
<html>
<head>
	<title>Test layout 6</title>
	<meta name="description" content="A test layout to extend another">
	<meta name="author" content="Tom peer">
</head>

<body data-extends="testlayout1/testlayout1" columns="S-M-X">
	
	<div id="subcol">
		<div id="navbuttons" class="scheme-navbuttons">
			<content id="navprev" type="button" class="scheme-button">
				<title>Previous button</title>
				<content>
					{{record.previous_title}}				
				</content>
				<href>{{record.previous}}</href>
			</content>
			<content id="navnext" type="button" class="scheme-button">
				<title>Next button</title>
				<href>
					{{record.next}}
				</href>
				<content>
					{{record.next_title}}				
				</content>
				
			</content>
		</div>
	</div>
	<div id="maincol">

		<div id="maincol_top">

			<content id="sectiontitle" type="title" data-notes="Notes here" class="scheme-title">
				<title>Section title</title>
				<content>
				{{section.title}}
				</content>
			</content>

			<content id="articletitle" type="title" data-notes="Notes here" class="scheme-title scheme-articletitle">
				<title>Article title</title>
				<content>
				{{record.title}}
				</content>
			</content>

			<content id="articleintro" class="scheme-intro" type="text">
				<title>Section intro</title>
				<content>
				{{record.intro}}
				</content>
			</content>

			<content id="articlecopy" type="text" data-notes="Notes here">
				<title>Section copy</title>
				<content>
				{{record.copy}}
				</content>
			</content>
			
		</div>	


		<div id="maincol_bottom">
			 
			
		</div>	

	</div>


</body>
</html>