:root {
	--sitewidth:100%;
	/* spanning now set by these. No classes */
	--inner-width:100%;
	--subcolwidth:25%;
	--xcolwidth:15%;
	--columns-grid-gap:5px;
	--content-grid-gap:5px;
	--xcol-display:block;
	--subcol-display:block;
	--uber-grid-template-areas: "header"
						 "topnav"	 
						 "content" 
						 "bottomnav"
						 "footer";
	--uber-grid-template-rows: min-content min-content auto min-content min-content;
	--uber-grid-template-columns: 1fr;
	--content-grid-template-areas: "content_top" "content" "content_bottom";
	--content-grid-template-rows: min-content auto min-content;
	--columns-grid-template-areas: "subcol maincol xcol";
	--columns-grid-template-columns: var(--subcolwidth) auto var(--xcolwidth);
	--columns-grid-template-rows: auto;
	--footer-grid-template-areas:"footer_left footer_middle footer_right";
	--footer-grid-template-columns: 33% auto 33%;
	--maincol-grid-template-columns: 1fr 1fr;
	--maincol-grid-gap: var(--columns-grid-gap);
	--header-position: static;
	--footer-position: static;
	--header-display: flex;
	--footer-display: flex;
	--topnav-display: flex;
	--topnav-position: static;
	--topnav-top:0px;
	--topnav-height:auto;
	--bottomnav-display: flex;
	--content_top-display: block;
	--content_bottom-display: block;
	--topnav-width: 100%;
	--header-width: 100%;
	--footer-width: 100%;
	/* the fixed height vars need to be set when the elements
	are fixed to enable calcs */
	--header-fixed-height:0px;
	--header-fixed:0;
	--header-height:auto;
	--footer-fixed-height:0px;
	--footer-fixed:0;
	--footer-height:auto;
	--body-margin-top:0px;
	--body-margin-bottom:0px;
	--body-margin-left:0px;
	--body-margin-right:0px;
	/* ignore unless providing editing functionality */
	--overlay-margin-top:0px;
	--overlay-margin-bottom:0px;
	--overlay-margin-left:0px;
	--overlay-margin-right:0px;
}

#header {
	grid-area:header;
	display: var(--header-display);
	position:var(--header-position);
	top:calc(var(--body-margin-top) + var(--overlay-margin-top));
	left:calc(var(--body-margin-left) + var(--overlay-margin-left));
	width: calc(var(--header-width) - var(--header-fixed) * (var(--overlay-margin-left) + var(--overlay-margin-right)));
	min-height:var(--header-height);
	z-index: 200;
}
#subcol {
	grid-area:subcol;
	display:var(--subcol-display);
}
#maincol {
	grid-area:maincol;
}
#xcol {
	grid-area:xcol;
	display:var(--xcol-display);
}
#content {
	grid-area:content;
	min-height: 100%;
	width: 100%;
}
#content_top {
	grid-area:content_top;
}
#content_bottom {
	grid-area:content_bottom;
}
#footer {
	grid-area:footer;
	display: var(--footer-display);
	position:var(--footer-position);
	bottom:calc(var(--body-margin-bottom) + var(--overlay-margin-bottom));
	left:calc(var(--body-margin-left) + var(--overlay-margin-left));
	width: calc(var(--footer-width) - var(--footer-fixed) * (var(--overlay-margin-left) + var(--overlay-margin-right)));
	min-height:var(--footer-height);
	z-index: 200
}

#topnav {
	grid-area:topnav;
	display: var(--topnav-display);
	width: var(--topnav-width);
	height: var(--topnav-height);
	position: var(--topnav-position); 
	top: var(--topnav-top);
}
#bottomnav {
	grid-area:bottomnav;
	display: var(--bottomnav-display);
}

#content_top {display: var(--content_top-display)}
#content_bottom {display: var(--content_bottom-display)}

#header, #topnav, #bottomnav, #xcol, #content, #footer {
	align-items: stretch;
}

#maincol_top {grid-area: maincol_top}
#maincol_left{grid-area: maincol_left}
#maincol_right{grid-area: maincol_right}
#maincol_grid{grid-area: maincol_grid}
#maincol_bottom{grid-area: maincol_bottom}
#footer_left{grid-area: footer_left}
#footer_right{grid-area: footer_right}
#footer_middle{grid-area: footer_middle}

/* calc(var(--body-margin-top) + var(--overlay-margin-top)); */
body {
	padding-top: calc(var(--header-fixed-height) + var(--body-margin-top) + var(--overlay-margin-top));
	padding-bottom: calc(var(--footer-fixed-height) + var(--body-margin-bottom) + var(--overlay-margin-bottom));
	padding-left:calc(var(--body-margin-left) + var(--overlay-margin-left));
	padding-right:calc(var(--body-margin-right) + var(--overlay-margin-right));
}


#ubercontainer {
	position: relative;
	min-height: 100%;
	max-width: var(--sitewidth);
	margin-left:auto;
	margin-right:auto;
	display: grid;
	grid-template-areas: var(--uber-grid-template-areas);
	grid-template-rows: var(--uber-grid-template-rows);
	grid-template-columns: var(--uber-grid-template-columns);
}

div.inner {
	flex-grow: 1;
	min-height: 100%;
	position: relative;
}

/* spanning substitute */
#ubercontainer > div .inner {
	max-width: var(--inner-width);
	margin: var(--inner-margin);
	min-height: 100%;
	position: relative;
}

#content > .inner {
	display: grid;
	grid-template-areas: var(--content-grid-template-areas);
	grid-column-gap: var(--content-grid-gap);
	grid-template-rows: var(--content-grid-template-rows);
}

#columns {
	display: grid;
	grid-template-areas: var(--columns-grid-template-areas);
	grid-column-gap: var(--columns-grid-gap);
	grid-template-columns: var(--columns-grid-template-columns);
	grid-template-rows: var(--columns-grid-template-rows);
}

#footer > .inner {
	display: grid;
	grid-template-areas: var(--footer-grid-template-areas) ;
	grid-template-columns: var(--footer-grid-template-columns);
}

#maincol {
	display: grid;
	grid-template-areas: "maincol_top maincol_top" "maincol_left maincol_right" "maincol_grid maincol_grid" "maincol_bottom maincol_bottom";
	grid-template-rows: min-content min-content min-content  auto ;
	grid-template-columns: var(--maincol-grid-template-columns);
}

@media screen and (max-width: 800px) {
	:root {
		--columns-grid-template-areas: "subcol maincol" "subcol xcol";
		--columns-grid-template-columns: var(--subcolwidth) auto;
	}
}

@media screen and (max-width:630px) {
	
	.mobile {
		display:block;
	}
	.notmobile {
		display:none;
	}

	body[class^=col] {
		--columns-grid-template-columns: 1fr;
	}

	:root {
		--footer-grid-template-areas: "footer_right" "footer_middle"  "footer_left";
		--footer-grid-template-columns: 1fr;
		--columns-grid-template-areas: "subcol" "maincol" "xcol";
		--columns-grid-template-columns: 1fr;
	}
	
}


/* Legacy mobile and mid stuff */

.mobile {
	display:none;
}

.mid {
	display:none;
}

@media screen and (max-width:800px) {

	.mid {
		display:block;
	}

	.notmid {
		display:none;
	}
}

@media screen and (max-width:630px) {
	
	.mobile {
		display:block;
	}
	.notmobile {
		display:none;
	}

}
