:root {
	--border-color:gray;
	--form-label-width: 160px;
	--form-label-gap: 20px;
	--form-row-gap: 0px;
	--field-checkbox-width:16px;
	--form-display:grid;
	--field-border-color: var(--border-color);
	--form-stripe-background-color: transparent;
	--row-padding: 4px;
	--field-padding: 4px;
	--field-border-width: 1px;
	--field-border-radius: 0px;
	--field-background-color: transparent;
	--checkbox-field-display: grid;/* turn on uniform replace with 'block' */
	--checkbox-display: inline-block;/* turn on uniform replace with 'none' */
	--checkbox-replace-display: none;/* turn on uniform replace with 'inline-block' */
	--checkbox-label-display: inline-block;/* turn on uniform replace with 'flex' */
}

div.uniform {
	--checkbox-field-display: block;/* turn on uniform replace with 'block' */
	--checkbox-display: none;/* turn on uniform replace with 'none' */
	--checkbox-replace-display:  inline-block;
	--checkbox-label-display: flex;
	--field-checkbox-width:auto;
}

div.fieldrow, div.fieldButtons {
	display:var(--form-display);
	grid-template-columns: var(--form-label-width) auto;
	margin-bottom: var(--form-row-gap);
	grid-gap: var(--form-label-gap);
	padding: var(--row-padding);
}

div.fieldrow, div.fieldButtons {
	grid-template-areas: "label field";
}


div.fieldrow.search {
	grid-template-columns: var(--form-label-width) 26% auto;
	grid-template-areas: "label search field";
}

div.fieldrow:nth-of-type(2n) {
    background-color: var(--form-stripe-background-color);
}

div.fieldrow .error {
	grid-area:error;
}

div.fieldrow.error {
	grid-template-areas: "label field" "label error";
}

.fieldrow > .fieldLabel , .fieldrow > .fieldSpacer {
	grid-area:label;
	display: flex;
	width: 100%;
}

.fieldrow > .fieldLabel label {
	flex-grow: 1;
}

.fieldLabel  {
	--icon-width:1em;
	--icon-height:1em;
}

.fieldrow > .field, .fieldrow > .buttons {
	grid-area:field;
}
.fieldrow > .field.search {
	grid-area:search;
}


.fieldrow .field + label {
	text-align: left;	
}

.field:not(.field_boolean) input, .field textarea, .field select
 {
 	background-color: transparent;
 	width: 100%;
 	border: none;
 	outline: none;
}

.fieldrow input:not([type='checkbox']):not([type='radio']):not([type='search']), 
.fieldrow textarea,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple   {
	padding:var(--field-padding);
	border:var(--field-border-width) solid var(--field-border-color);
	background-color: var(--field-background-color);
	border-radius: var(--field-border-radius);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 1;
	padding-left: 0px;
    padding-right: 0px;
    padding:var(--field-padding);
}

.field_boolean, .buttons {
	justify-self: flex-start;
}

div.fieldLabel {
	padding:4px;
}

.field.checkbox, .field.radio {
	display: var(--checkbox-field-display);
	align-items: center;
	grid-template-columns: var(--field-checkbox-width) auto ;
	grid-row-gap: 2px;
	grid-gap: 2px;
}


/* checkbox replace 
--checkbox-display: none;
--checkbox-label-display:flex;
--checkbox-replace-display:inline-block;
*/ 

input[type="checkbox"],  input[type="radio"]  {
	display:var(--checkbox-display);
}

input[type="checkbox"] + label, input[type="radio"] + label {
	display: var(--checkbox-label-display);
	align-items: center;	
}

input[type="checkbox"] + label:before, input[type="radio"] + label:before {
    display:var(--checkbox-replace-display);
    width:18px;
    height:18px;
    margin:-1px 4px 0px 0;
    padding:0 0 4px 0;
    vertical-align:middle;
    cursor:pointer;
    content:"";
    background:url(/_assets/images/forms/square.svg) left center no-repeat;
    background-size: contain;
}

input[type="checkbox"]:checked + label:before {
  	background-image:url(/_assets/images/forms/square-check.svg);
}
input[type="radio"] + label:before {
	background-image:url(/_assets/images/forms/circle.svg);
}
input[type="radio"]:checked + label:before {
	background-image:url(/_assets/images/forms/circle-check.svg);
}
