:root {
	--border-color:gray;
	--form-label-width: 33%;
	--form-label-gap: 20px;
	--form-row-gap: 4px;
	--field-checkbox-width:28px;
	--form-display:grid;
	--field-border-color: var(--border-color);
	--form-stripe-background-color: transparent;
	--row-padding: 4px;
	--field-padding: 4px;
	--field-border-width: 1px;
	--field-background-color: transparent;
}

div.fieldrow, div.fieldButtons{
	display:var(--form-display);
	grid-template-columns: var(--form-label-width) auto;
	grid-template-areas: "label field";
	margin-bottom: var(--form-row-gap);
	grid-gap: var(--form-label-gap);
	padding: var(--row-padding);
}
div.fieldrow:nth-of-type(2n) {
    background-color: var(--form-stripe-background-color);
}

div.fieldrow .error {
	grid-area:error;
}

div.fieldrow.error {
	grid-template-areas: "label field" "label error";
}

.fieldrow > .fieldLabel , .fieldrow > .fieldSpacer {
	grid-area:label;
	display: flex;
}

.fieldrow > .fieldLabel label {
	flex-grow: 1;
}

.fieldLabel > label  .button {
	position: absolute;
	right:0;
}

.fieldrow > .field, .fieldrow > .buttons {
	grid-area:field;
}

.fieldrow .field + label {
	text-align: left;	
}

.form input, .form textarea, .form select
 {
 	background-color: transparent;
 	width: 100%;
 	border: none;
 	outline: none;
}

div.field:not(.field_boolean) {
	padding:var(--field-padding);
	border:var(--field-border-width) solid var(--field-border-color);
	;
	background-color: var(--field-background-color);
}

.field_boolean, .buttons {
	justify-self: flex-start;
}

div.fieldLabel {
	padding:4px;
}

field.checkbox, field.radio {
	display: grid;
	grid-template-columns: var(--field-checkbox-width) auto ;
	grid-row-gap: 2px;
}


.buttonreplace input[type="checkbox"],.buttonreplace input[type="radio"]  {
	    display:none;
}
.buttonreplace input[type="checkbox"] + label:before, .buttonreplace input[type="radio"] + label:before {
    display:inline-block;
    width:18px;
    height:17px;
    margin:0px 10px 0 0;
    vertical-align:middle;
   cursor:pointer;
    content:" ";
}

/* font version */
.buttonreplace  input[type="checkbox"] + label:before, .buttonreplace  input[type="radio"] + label:before {
	background:none;
	font-family: buttonreplace;
}

.buttonreplace  input[type="checkbox"] + label:before {
	content:"\f096";
}
.buttonreplace  input[type="checkbox"]:checked + label:before {
	content:"\e800";
}
.buttonreplace  input[type="radio"] + label:before {
	content:"\f10c";
}
.buttonreplace  input[type="radio"]:checked + label:before {
	content:"\f192";
}