/* 

# Grids

Static CSS for grid and flex styling 

## Grid Layouts

We think of grids as having a "mode". To apply these, ensure "--mode" is set and the javascript is run to apply the mode class or else explicity set the class with e.g. `class="cs-grid mode-cols"`. Explicitly setting classes can't work for different modes in different viewports. Either get the JS running or see the CSS below to do it manually, which beats the point of using this script.

### Content fit (mode-fit)

This is default and the mode you want if you don't already know. With a minimum width set for the content items, this will add as many items as possible per row and stretch any items to ensure no gap is left.

The only setting you usually need is `--grid-width` which is the minimum width. Note that for fot and fill the `--grid-max-width` rarely does what you want it to do. It only really works when left to its default value of 1fr.

NB The mode can be omitted as it's the default for `.cs-grid`.

### Content fill (mode-fill)

Sort of like fit but will create empty cells to fill up the space if they would fit. Rarely used.

### Fixed columns (mode-fixed)

The number of columns in the grid is fixed. The columns are all equal. Set the columns with `--grid-columns`.

### Set column widths (mode-columns)

Explicitly set the grid template columns in `--grid-template-columns`. Useful for having one column stretch.

### Set column rows (mode-rows)

Explicitly set the grid template rows in `--grid-template-rows`. Useful for having one row stretch.

### Named positions (mode-named)

Supply template positions in  `--grid-template-areas`.

### Fixed width (mode-fixedwidth)

Little used setting where the cells have a fixed width and as many as possible fit the grid. Use `fill` in preference although honestly you're usually just better off with `fit`.

## Other grid layouts

If you want to set your own you could set `mode` to none or basically you'd just be better off not using this.

## Flex Layouts (mode-flex)

Flex layouts are simpler. Most stretch properties translate with an equalivant var of the same name.

NB flex-grow is a var --flex-stretch (??)

*/

:root {
	--mode:fit;/* none|fit|fixed|fixedwidth|columns|rows|named|flex*/
	--grid-gap:0;
	--grid-fit:auto-fit;
	--grid-width:180px;
	--grid-max-width:1fr;
	--grid-max-height:auto;
	--grid-columns:2;
	--flex-direction:row;
	--justify-content:normal;
	--align-items:normal;
	--align-content:normal;/* alignment for multiple rows */
	--flex-stretch:0;/* treat as boolean */
	--flex-wrap: wrap;
	--grid-template-rows:auto;
	--grid-template-columns:auto;
	--grid-template-areas:none; /* e.g. "header header" "menu main" "footer footer" */;
}

.cs-grid {
	display:grid;
	grid-gap:var(--grid-gap);
	flex-direction: var(--flex-direction);
	align-items: var(--align-items);
	justify-content: var(--justify-content);
	flex-wrap: var(--flex-wrap);
}

.cs-grid.mode-none {
	display: block;
}

.cs-grid.mode-fill {
	--grid-fit: auto-fill;
}

.cs-grid.mode-fit, .cs-grid.mode-fill  {
	grid-template-columns: repeat(var(--grid-fit), minmax(var(--grid-width),var(--grid-max-width)));
}

.cs-grid > * {
	height: var(--grid-max-height);
	flex-grow: var(--flex-stretch);
}

.flex, .mode-flex {
	display: flex;
}

.cs-grid.mode-fixed {
	grid-template-columns: repeat(var(--grid-columns), 1fr);
}

.cs-grid.mode-fixedwidth {
	grid-template-columns:  repeat(auto-fit, var(--grid-width));
}

.cs-grid.mode-columns {
	grid-template-columns: var(--grid-template-columns);
	grid-template-rows: var(--grid-template-rows);
}

.cs-grid.mode-rows {
	grid-template-columns: 1fr;
	grid-template-rows: var(--grid-template-rows);
}
.cs-grid.mode-named {
	grid-template-areas: var(--grid-template-areas);
	grid-template-columns: var(--grid-template-columns);
	grid-template-rows: var(--grid-template-rows);
}

.cs-grid:not(.mode-named) > * {
	grid-area: unset !important;
}

.cols-2 {
	--grid-columns:2;
}

.cols-3 {
	--grid-columns:3;
}

.cols-4 {
	--grid-columns:4;
}

.cols-5 {
	--grid-columns:5;
}

