:root {
	--bordercolor: #eee;
}

.cs-imagegrid, .cs-image {
	--image-max-height: auto;
  	--image-max-width: 100%;
  	--object-fit: scale-down;
  	--align-frame:center;/* align items within frame */
	--justify-frame:start;/* justify content within frame */
	--align-caption:center;/* align caption */
	--justify-caption:start;/* justify  caption */
	--image-grow:0;/* expand image to frame */
	--frame-flex-direction:column; /* image on top of caption (can reverse) */
	--transition-time:1s;/* time for rollover transition */
	--object-position-x: center;
	--object-position-y: center;
}

.cs-imagegrid.masonry, .cs-imagegrid.justifiedGallery {
	--grid-mode:none;
}
.cs-imagegrid.masonry > .grid, .cs-imagegrid.justifiedGallery > .grid {
	display: block;
	height: auto;
}

.cs-imagegrid.masonry .frame, .cs-imagegrid.carousel .frame {
	width:var(--grid-width);
}

.cs-grid .flickity-page-dots {
	height: auto;
}

.cs-imagegrid:not(.justifiedGallery) .frame:not(.flickity-cell ) {
	position: relative;
}

.cs-imagegrid:not(.justifiedGallery)  .frame {
	display: flex;
	flex-direction: var(--frame-flex-direction);
	align-items: var(--align-frame);
	justify-content: var(--justify-frame);
}

.cs-imagegrid:.flickity-enabled  .frame {
	margin-right: var(--grid-gap);
}

.cs-imagegrid:not(.justifiedGallery) .frame img {
	display: block;
	width: 100%;
	height:100%;
	object-fit: var(--object-fit);
}

.cs-imagegrid:not(.justifiedGallery) .image {
	height: var(--image-max-height);
	width: var(--image-max-width);
	flex-grow: var(--image-grow);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: var(--justify-frame);
	align-items: var(--align-frame);
}

.cs-imagegrid .caption {
	display: flex;
	flex-direction: column;
	align-items: var(--align-caption);
	justify-content: var(--justify-caption);
	transition:opacity var(--transition-time);
}

.cs-imagegrid .frame:hover .caption {
	opacity: 1 !important;
}

.cs-image {
	overflow: hidden;
	min-width: 0;
	min-height: 0;
}

.cs-image figure {
	display: flex;
	max-height:100%;
	flex-direction: column;
}

.cs-image img {
	object-fit:var(--object-fit);
	flex-grow:1;
	max-width: 100%;
	max-height:100%;
	height:auto;
}

.cs-image.fixedheight figure  {
	width: 100%;
	height:100%;
}

.cs-image.fixedheight img {
	object-fit:var(--object-fit);
	object-position: var(--object-position-x) var(--object-position-y);
}

.popup {
	position: fixed;
	padding:20px;
	top:0;
	left:0;
	background-color: rgba(255,255,255,1);
	width: 100vw;
	height: 100vh;
	display: none;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

.popup .button {
	position: fixed;
	top:6px;
	right:6px;
	--icon-width:12px;
	--icon-height:12px;
}

.popup img {
	margin:0 auto;
	box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.72);
}

.popup .button:hover {
	stroke:#ff00ff;
	fill:#ff00ff;
	color:#ff00ff;
}

.closeButton.button {
	--label-display:none;
}

.nextButton.button{
	top:40%;
	--button-align:flex-start; 
	--button-direction: row-reverse;
	right:60x;
}

.previousButton.button{
	right:unset;
	top:40%;
	left:60x;
}

.popup_image {
	width: 100%;
	height: 100%;
}
/*

main       
item      .frame
image     .image
caption   .caption			
 */


@container grid ( style(--caption-position:top) ) {
	@container grid ( style(--justify-frame:end) ) {
		.image {
			margin-top:auto;
			margin-bottom:0;
		}
	}
	@container grid ( not style(--justify-frame:center) ) {
		.frame {
			--image-grow:1;
		}
	}

	.frame {
		--frame-flex-direction:column-reverse;
	}
} 

@container grid ( style(--caption-position:bottom) ) {
	@container grid ( style(--justify-frame:end) ) {
		.image {
			margin-top:0;
			margin-bottom:auto;
		}
	}
	@container grid ( not style(--justify-frame:center) ) {
		.frame {
			--image-grow:1;
		}
	}
} 
			
@container grid ( style(--caption-position:under) or style(--caption-position:above) ) {
	.frame {
		--image-grow:0;
	}
	.image {
		margin:0;
	}

}

@container grid ( style(--caption-position:above) ) {
	.frame {
		--frame-flex-direction: column-reverse;
	}
}

@container grid ( style(--caption-position:overlay) ) {
	.frame {
		--justify-frame:start;
		--justify-caption:center;
	}
	.caption {
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}

}		
