/* MENUS


Create a grid or flexbox menu from a ul

## Grid menus

The following "var classes" need to be applied IN ORDER (orientation sets align defaults)

orientation,mode,borders,align,stretch,submenupos,submenualign,submenushow

orientation
: horizontal* | vertical 

mode
: grid|flex flex is default for horizontal

borders
: normal|boxes|dividers border mode. Using boxes or dividers, adjusts borders to allow for justa single width value to be supplied.

submenupos
: absolute* | inline  Sub menu positioning

submenualign
: (menu-)top|bottom-left|right (default top-right) alignment of absolute position submenu. Relative to item unless prefixed with menu

submenushow
: 1|0* show sub menus: obvs need to be inline

stretch
: 0|1*   Stretch flex menu

align
: center left|center|right  Align text. Also for flex menus that don't stretch, align the whole menu. 


## Notes

The a tags are actually set to display flex themselves in order to accomodate icons. To align the lext you have to set
the justify-content property.

# Highlights etc

Use the following selector 

hover   li a:hover
hi      li.hi a
*/

:root {
	--link-color: #000;
}

.cs-menu {
	--mode: flex;/* grid|flex */
	--borders: normal; /* normal|boxes|dividers */
	--orientation: horizontal;/* horizontal | vertical */
	--submenupos: absolute; /* absolute | inline */
	--submenualign: top-right; /* (top|bottom)-(left|right) */
	--submenushow: 0; /* 1|0 */
	--stretch: 1; /* 1|0 */
	--align:center;
	--menu-border-color:var(--link-color);
	--menu-background: transparent;
	--menu-gap: 4px;/* Gap between items */
	--menu-item-padding: 0 8px;
	--menu-item-border:0;/* item border width */
	--menu-item-border-width: var(--menu-item-border); /* reserved for system. Used with e.g. boxes and dividers schemes */
	--menu-item-width: 140px; /* min width of menu items in grid layou */
	--menu-icon-display: none;/* none or block */
	--menu-label-display: block;/* text part of menu item:; none or block */
	--icon-width:32px;/* normal menu icons */
	--icon-height:32px;	
	--menu-icon-valign: middle;/* WIP */
	--menu-icon-gap: 8px;/* gap between label and icon */
	--menu-icon-stretch: 1;/* stretch labels to fill remaining space */
	--menu-icon-align: row; /* flex direction for icon alignment */
	--menu-openicon-width:16px;/* "openicon" is the automatic icon applied for sub menus. Needs work */
	--menu-openicon-height:16px;	
	--menu-openicon-adjust: -4px;
	--menu-text-align: center;/* alignment of text in menu items */
	--menu-anim-time: 0.3s;
	--menu-direction: row;
	--menu-item-justify: center; /* item aligment start|center|end. Also see menu-text-align which usually needs setting as well */
	--menu-item-align: center; /* cross axis aligment, e.g. vertical when menu is horizontal */
	--menu-wrap: wrap;
	--rollout: 0;

}

.cs-menu ul {
	list-style: none;
	margin:0;
	padding-left: 0em;
    text-indent: 0px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--menu-item-width),1fr));
	grid-gap:var(--menu-gap);
	justify-content: var(--menu-item-justify); /* needs formalising. This is the align mechanism as the a tags themselves are now flexboxes */
	align-items: var(--menu-item-align);
	margin: 0 auto;
}

.cs-menu.align-left > ul {
	margin-left:0;
	--menu-item-justify: start;
	--menu-text-align: left;
}

.cs-menu.align-right > ul {
	margin-right:0;
	--menu-item-justify: end;
	--menu-text-align: right;
}

.cs-menu.mode-flex > ul {
	display: flex;
	flex-direction: var(--menu-direction);
	flex-wrap: var(--menu-wrap);
}

.cs-menu.orientation-vertical {
	--mode: grid;
	--align: left;
}

.cs-menu.orientation-vertical > ul {
	display: grid;
	grid-template-columns: 1fr;
}

.cs-menu.orientation-vertical.align-right > ul {
	--menu-text-align: right;
	--menu-item-justify: end;
}
.cs-menu.orientation-vertical.align-center > ul {
	--menu-text-align: center;
	--menu-item-justify: center;
}

.cs-menu.borders-dividers {
	--menu-gap:0px;
	--menu-item-border-width: 0 var(--menu-item-border) 0 0;
}

.cs-menu.borders-dividers li:last-of-type {
	--menu-item-border-width: 0;
}

.cs-menu.borders-boxes {
	--menu-gap:0px;
	--menu-item-border-width: var(--menu-item-border) 0 var(--menu-item-border) var(--menu-item-border);
}

.cs-menu.borders-boxes li:last-of-type {
	--menu-item-border-width: var(--menu-item-border);
}

.cs-menu.orientation-vertical.borders-dividers {
	--menu-item-border-width: 0 0 var(--menu-item-border) 0;
}

.cs-menu.orientation-vertical.borders-boxes {
	--menu-item-border-width: var(--menu-item-border) var(--menu-item-border) 0 var(--menu-item-border);
}

.cs-menu li {
	position:relative;
	flex-grow: var(--stretch);
}

.cs-menu.stretch-1 > ul {
	width:100%;
}

.cs-menu a, .cs-menu a:hover {
	white-space: nowrap;
	color:var(--link-color);
	display:flex;
	flex-grow: 1;
	flex-direction: var(--menu-icon-align);
	align-items: center;
	justify-content: var(--menu-item-justify); /* This is the icon, label etc  */
	grid-gap: var(--menu-icon-gap);
	text-decoration: none;
	padding:var(--menu-item-padding);	
	border-width:var(--menu-item-border-width);
	border-style:solid;
	border-color:var(--menu-border-color);
	background-color: var(--menu-background);
	/* watch browser agent default. Can't apply to ul */
	text-align: var(--menu-text-align);	
	transition: background-color var(--menu-anim-time) ease-in-out , border-color var(--menu-anim-time)  ease-in-out ;
}

/* Per class behaviour applied via JS. leave for now. */
.cs-menu.open {
	height:auto;
}

/* Watch the specifity here. JS library creates clone to get heights */
ul.submenu {
	display:none;/* MUSTDO: fix. just WIP */
	z-index: 100;
  	min-width:100%;
  	overflow: hidden;
  	height: auto;
  	--menu-direction: column;
  	--menu-display: none;

}

ul.submenu.open, ul.submenu.show  {
	--menu-display: flex;
}


.cs-menu li.open > ul.submenu {
	--menu-display: flex;
}

.cs-menu ul.submenu li.open > ul.submenu {
	margin-top:0px;
}

/* sub menu indicator */
.cs-menu a > i[class*=icon].openicon {
	--icon-height: 16px;
	--icon-width: 16px;
	display: block;
	flex-grow: 0;
	position: relative;
	right:var(--menu-openicon-adjust, 0);
	max-height:100%;
	top:0;
	/*width: var(--menu-openicon-width);
	height: var(--menu-openicon-height);*/
	fill:var(--link-color);
	stroke:var(--link-color);
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

/* menu icons 

Requires icons.css and navbuttons.css

*/
.cs-menu a > i[class*=icon]  {
	display: var(--menu-icon-display);
	width:var(--icon-width);
	height:var(--icon-height);
	line-height:var(--icon-height);
	font-size: var(--icon-height);
	overflow: hidden;
}

.cs-menu a span {
	display: var(--menu-label-display);	
}


.cs-menu li.open > a .openicon {
	transform: rotate(90deg);
}
/* Expand label to fill space */
.cs-menu a > span {
	flex-grow: var(--menu-icon-stretch);
}

.cs-menu.rollout-1 a span {
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	top:100%;
	left:0;
	width:0;
	transition: background-color var(--menu-anim-time) ease-in-out , border-color var(--menu-anim-time)  ease-in-out, width var(--menu-anim-time)  ease-in-out ;
	align-items: center;
	justify-content: start;
}

.cs-menu.align-right.rollout-1 a span {
	left:auto;
	right:0;
	bottom:auto;
	justify-content: end;
}

.cs-menu.orientation-vertical.rollout-1 a span {
	top:0;
	left:100%;
	bottom:auto;
}

.cs-menu.orientation-vertical.align-right.rollout-1 a span {
	top:0;
	right:100%;
	bottom:auto;
	left:auto;
}

.cs-menu.rollout-1 a:hover span {
	width: var(--menu-item-width);
	box-sizing: content-box;
	display: flex;
	visibility: visible;
	height: var(--icon-height);
	padding: var(--menu-item-padding);
	background-color: var(--menu-background);
}









