:root {
	--panel-bg: black;
	--panel-text: white;
	--border-color: black;
}

.modal {
	--scroll: 1;
	border:1px solid var(--border-color); 
	display: none;
	position: fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:660px;
	height: 400px;
	background-color: white;
	max-width: 100vw;
}


.pulldown {
	--modal:0;
	--closebutton:;
}

.modal.pulldown {
	transform:translate(0%, 0%);
}


.modal  .wrapper {
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.modal  .content {
	padding:4px;
	flex-grow: 1;
	overflow: clip;
}

.modal .closebutton {
	padding:2px;
	--icon-height:12px;
	--icon-width:12px;
	--label-display:none;
	position: absolute;
	top:2px;
	right:2px;
}

.modal .hasTitle .closebutton {

}

.modal.open {
	display: block;
}

#backdrop {
	display: none;
	background-color: rgba(0,0,0,0.3);
	position:fixed;
	width:100vw;
	height:100vh;
	top:0; 
	left:0;
	z-index: 999;
}

.modal .title {
	padding:4px;
	background-color: var(--panel-bg);
	color: var(--panel-text);
	font-weight:bold;
	font-size:1.2em;
}

.modal.hasTitle .closebutton {
	color: var(--panel-text);
}