/* MUSTDO: parameterise this */

.modal {
	--modal: true;
	--draggable: false;
	--dragTarget: h2;
	display: none;
	position: fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:660px;
}

.modal.open {
	display: block;
	background-color: #fff;
	border: 1px solid #000;
}

.backdrop {
	background-color: rgba(40,40,40,.6);
}

.modal .inner {
	position: relative;
}

.modal .closebutton {
	--button-padding:4px;
	--icon-height:1em;
	--icon-width:1em;
	--label-display:none;
	position: absolute;
	top:2px;
	right:2px;
}

.pulldown {
	transform: translate(0);
	--modal: false;
	--draggable: false;
	--position: right top;
	--position_at: right bottom+2;
	--position_of: #element.id_pulldown;
	--close_icon:"";
}