/* Static CSS for new var style grid styling of "items"

NB I'm sure we can do this with the standard grid functionality

 */
:root {
	--item-grid-template-areas: "imageWrap" "title"  "textWrap";
	--item-grid-template-rows: min-content min-content auto;
	--item-gridgap: 10px;
	--item-rowgap: 0px;
	--item-grid-template-columns: 1fr;
}

.imageWrap img {
	max-width: 100%;
	height: auto;
}

.textWrap > p {
	margin-top:0;
}

.item {
	display: grid;
	grid-template-areas: var(--item-grid-template-areas);
	grid-column-gap: var(--item-gridgap);
	grid-row-gap:  var(--item-rowgap);
	grid-template-rows: var(--item-grid-template-rows);
	grid-template-columns:   var(--item-grid-template-columns);
}

.item .title {
	grid-area: title;
}

.item .imageWrap {
	grid-area: imageWrap;;
}

.item .textWrap{
	grid-area: textWrap;
}

