/* 

Static CSS for new var style grid styling of "items"

The following need applying as "varClasses" : htop,align,wrap,title,image,imagespace 

htop
: 1*|0 Place heading above image. When aligning left or right setting htop=0 puts the into the text column

align
: center*|left|right Use a separate column for the image or wrap the text to the side (center leaves 1 column)

wrap
: 1|0* float the image and wrap text around it (align must be left or right). Note to use htop=0 for this you need an additional duplicate tag for the title in the textWrap - see the sample HTML

title
: 1*|0 show title 

image
: 1*|0 show image 

imagespace
: Leave space for the image even when there is none. Useful when you have multiple items in a list and some may or may not have images.
: Note for imagespace to work a class "noimage" has to be added to any items without images. Some tag must be left in even if there is no image. Easiest is jjust to leave the .imageWrap tag.

*/

:root {
	--htop:1;
	--imagespace:0;
	--image-align:center;
	--wrap:0;
	--show-title:1;
	--show-image:1;
	--caption-display:none;
	--image-width: 40%;
	--item-gridgap: 10px;	
}

.imageWrap img {
	max-width: 100%;
	height: auto;
}

/* Wrap title is an additional duplicate title placed into the textWrap if you need htop=0 with wrapping */
.wraptitle {
	display: none;
}

.item .title {
	grid-area: title;
}
.item .textWrap {
	grid-area: textWrap;
}
.item .imageWrap {
	grid-area: imageWrap;
}

.textWrap > p {
	margin-top:0;
}

.item {
	display: grid;
	grid-template-areas: "title" "imageWrap"  "textWrap";
	grid-gap: var(--item-gridgap);
	grid-template-rows: auto;
	grid-template-columns:   1fr;
}

.item figcaption {
	display: var(--caption-display);
}

.item.noimage figure {
	display: none;
}

