/* 

Static CSS for new var style grid styling of "items"

The following need applying as "varClasses" : htop,align,wrap,title,image,imagespace 

htop
: 1*|0 Place heading above image. When aligning left or right setting htop=0 puts the into the text column

align
: center*|left|right Use a separate column for the image or wrap the text to the side (center leaves 1 column)

wrap
: 1|0* float the image and wrap text around it (align must be left or right). Note to use htop=0 for this you need an additional duplicate tag for the title in the textWrap - see the sample HTML

title
: 1*|0 show title 

image
: 1*|0 show image 

imagespace
: Leave space for the image even when there is none. Useful when you have multiple items in a list and some may or may not have images.
: Note for imagespace to work a class "noimage" has to be added to any items without images. Some tag must be left in even if there is no image. Easiest is jjust to leave the figure tag.


*/
.item {
	--htop:1;
	--imagespace:0;
	--align:center;
	--wrap:0;
	--title:1;
	--image:1;
	--caption-display:none;
	--image-width: 40%;
	--item-gridgap: 10px;	
}

figure img {
	max-width: 100%;
	height: auto;
}

/* Wrap title is an additional duplicate title placed into the textWrap if you need htop=0 with wrapping */
.wraptitle {
	display: none;
}

.textWrap > p {
	margin-top:0;
}

.item {
	display: grid;
	grid-template-areas: "title" "imageWrap"  "textWrap";
	grid-gap: var(--item-gridgap);
	grid-template-rows: auto;
	grid-template-columns:   1fr;
}

.item.htop-0 {
	grid-template-areas:  "imageWrap" "title" "textWrap";
}

.item.align-left {
	grid-template-columns:  var(--image-width) auto;
	grid-template-areas:  "title title" "imageWrap  textWrap";
}

.item.align-right {
	grid-template-columns: auto var(--image-width);
	grid-template-areas:  "title title" "textWrap imageWrap";
}

.item.htop-0 {
	grid-template-areas:  "imageWrap" "title" "textWrap";
}

.item.htop-0.align-left {
	grid-template-areas:  "imageWrap title" "imageWrap textWrap";
}

.item.htop-0.align-right {
	grid-template-areas:  "title imageWrap" "textWrap imageWrap";
}

.item.title-0.align-right {
	grid-template-areas:  "textWrap imageWrap";
}

.item.title-0.align-left {
	grid-template-areas:  "imageWrap textWrap";
}

/* noimage class needs to be applied to item if there is no image. This is for removing
the space in a list of items with the same class */

.item.image-0, .item.noimage.imagespace-0 {
	grid-template-areas:  "title" "textWrap";
	grid-template-columns:   1fr;
}
}

.item .title {
	grid-area: title;
}

.item.title-0 .title {
	display: none;
}

.item figure {
	grid-area: imageWrap;
}

.item.image-0 figure {
	display: none;
}


.item.wrap-1.align-left, .item.wrap-1.align-right {
	display: block;
}

.item.wrap-1:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

.item.wrap-1 figure {
	width: var(--image-width);
}

.item.noimage.wrap-1 figure {
	display: none;
}

.item.wrap-1.align-left figure {
	float: left;
	margin-right: var(--item-gridgap);
	margin-bottom: var(--item-gridgap);
}

.item.wrap-1.align-right figure {
	float: right;
	margin-left: var(--item-gridgap);
	margin-bottom: var(--item-gridgap);
}

.item.wrap-1.htop-0 > h3 {
	display: none;
}

.item.wrap-1.htop-0 .wraptitle {
	display: block;
}

.item figcaption {
	display: var(--caption-display);
}

.item .textWrap {
	grid-area: textWrap;
}

