
.item.htop-0, .list.htop-0 .item {
	grid-template-areas:  "imageWrap" "title" "textWrap";
}

.item.image-align-left, .list.image-align-left .item {
	grid-template-columns:  var(--image-width) auto;
	grid-template-areas:  "title title" "imageWrap  textWrap";
}

.item.image-align-right, .list.image-align-right .item {
	grid-template-columns: auto var(--image-width);
	grid-template-areas:  "title title" "textWrap imageWrap";
}

.item.htop-0, .list.htop-0 .item {
	grid-template-areas:  "imageWrap" "title" "textWrap";
}

.item.htop-0.image-align-left, .list.htop-0.image-align-left .item {
	grid-template-areas:  "imageWrap title" "imageWrap textWrap";
	grid-template-rows: min-content 1fr;
}

.item.htop-0.image-align-right, .list.htop-0.image-align-right .item {
	grid-template-areas:  "title imageWrap" "textWrap imageWrap";
	grid-template-rows: min-content 1fr;
}

.item.show-title-0.image-align-right, .list.show-title-0.image-align-right .item {
	grid-template-areas:  "textWrap imageWrap";
}

.item.show-title-0.image-align-left, .list.show-title-0.image-align-left .item {
	grid-template-areas:  "imageWrap textWrap";
}

/* noimage class needs to be applied to item if there is no image. This is for removing
the space in a list of items with the same class */

.item.show-image-0, .list.show-image-0 .item, .item.noimage.imagespace-0, .list.imagespace-0 .item.noimage {
	grid-template-areas:  "title" "textWrap";
	grid-template-rows: min-content auto;
	grid-template-columns:   1fr;
}

.item.show-image-0 .imageWrap, .list.show-image-0 .item .imageWrap, .item.noimage.imagespace-0 .imageWrap, .list.imagespace-0 .item.noimage .imageWrap,
.item.noimage.wrap-1 .imageWrap, .list.wrap-1 .item.noimage .imageWrap {
	display: none;
}


.item.show-title-0 .title, .list.show-title-0 .item .title {
	display: none;
}

.item.show-image-0 .imageWrap, .list.show-image-0 .item .imageWrap {
	display: none;
}

.item.wrap-1.image-align-left, .item.wrap-1.image-align-right,
.list.wrap-1.image-align-left .item, .list.wrap-1.image-align-right .item  {
	display: block;
}

.item.wrap-1:after, .list.wrap-1 .item:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

.item.wrap-1 .imageWrap, .list.wrap-1 .item .imageWrap {
	width: var(--image-width);
}

.item.noimage figure {
	display: none;
}

.item.wrap-1.image-align-left .imageWrap, .list.wrap-1.image-align-left .item .imageWrap {
	float: left;
	margin-right: var(--item-gridgap);
	margin-bottom: var(--item-gridgap);
}

.item.wrap-1.image-align-right .imageWrap, .list.wrap-1.image-align-right .item .imageWrap {
	float: right;
	margin-left: var(--item-gridgap);
	margin-bottom: var(--item-gridgap);
}

.item.wrap-1.htop-0 > h3, .list.wrap-1.htop-0 .item > h3  {
	display: none;
}

.item.wrap-1.htop-0 .wraptitle, .list.wrap-1.htop-0 .item .wraptitle {
	display: block;
}