/*

# Table styling

Most styling is done using standard CSS properties applied to tr, th, or td. Only the padding and border settings, which can be difficult, have parameters.

## Borders

Adjust the following for the main table, th, and td and they **should** work.

```
--table-border-width:0px;
--table-border-style:solid;
--table-border-color:initial;
```

## Padding

Adjust the following for the main table and optionally th if different.

```
--table-cell-padding: 2px;
```

## Fonts etc

Use standard CSS properties applied to tr, th, or td.

The default for th is bold, centered.

# Backgrounds 

--table-background: transparent
--table-stripe-bg: var(--table-background)

## Notes

We can't use border collapse to do any sort of sensible table styling

We need to do it the usual way of adjusting border widths for rows and columns

NB Note that if you want to adjust the border widths for td/th you do it by just adjusting the
vars for that scope e.g.

```css
table.info td, table.info th {
	--table-border-color:#c3c3c3;
}
```

## Adjusting columns or rows

Use numeric column values to adjust styling if you can't set a class (e.g. coming from Markdown)

```
table.info tr td:nth-of-type(3) {
	font-weight:bold;
	text-align:left;	
}
```

### First and last rows

Use

`table.info tr td:first-of-type` and `table.info tr td:last-of-type`

## Stripes

There is one more var, --table-stripe-bg, for striped rows.

You can also use `tr:nth-child(odd|even)`

## To do

1. Better mechanism for first and last column paddings? (not a priority).

*/

:root {
	--table-border-width:0px;
	--table-border-style:solid;
	--table-border-color:initial;
	--table-cell-padding:0;
	--table-text-align:inherit;
	--table-vertical-align: top;
	--table-background: transparent;
	--table-stripe-bg: var(--table-background);
	--table-sticky: block;/* sticky || block */
	--table-sticky-top:0;
}

th {
	font-weight:bold;
	--table-text-align:center;
}

table {
	border-width: var(--table-border-width);
	border-style: var(--table-border-style);
	border-color: var(--table-border-color);
	border-collapse: separate;
	width: auto;/* will override leagcy table width= settings */
	margin: 1em 0;
}

th, td  {
	border-width: var(--table-border-width);
	border-style: var(--table-border-style);
	border-color: var(--table-border-color);
	text-align: var(--table-text-align);
	padding: var(--table-cell-padding);
	vertical-align:var(--table-vertical-align);
}

tbody tr {
	background: var(--table-background);
}

tbody tr:nth-of-type(2n) {
	--table-background: var(--table-stripe-bg);
}

thead {
	z-index: 990;
}

tbody {
	z-index: 100;
}

thead tr th {
	border-top-width: 0;
}

tfoot  th {
	border-bottom-width: 0;
}
/* tables have to have body for effective styling */
tbody  tr {
	border-top-width: 0;
}

td, th {
	border-left-width: 0px;
}

td {
	border-top-width: 0px;
}

tr td:last-of-type, tr th:last-of-type {
	border-right-width:0;
}

tbody  tr:last-of-type td {
	border-bottom-width: 0;
}
/* NB recordlist, am_table deprecated */
table:where(.info,.reverse,.recordlist,.am_table) {
	--table-border-width:1px;
	--table-border-style:solid;
	--table-border-color:var(--border-color, black);
	--table-cell-padding:2px;

table.info {
	--table-border-width: 1px;
	--table-cell-padding: 2px;
	--table-margin:0 0 1em 0;
	--table-sticky:sticky;
}


table.sticky {
  position:relative;
}

table.sticky th {
  position: sticky;
  top: 0;
table {
  position:relative;
}

thead {
  position: var(--table-sticky);
  top: var(--table-sticky-top);
}

table.nohead thead {
    display: none;
}

