


#articlelist {
	max-width:800px;
	title {
		font-family: --title-font;
		font-size:1.4em;
		font-weight:bold;
	}
	item {
		margin:0 0 12px 0;
	}
	image-align:left;

	@mid {
		htop: 1;
		image-align:right;
	}

	@mobile {
		image-align:center;
	}
}

.scheme-articlelist_title {
	title {
		color:accent;
		margin:0;
		
		hover {
			color:panel-bg;
		}
	}
	item {
		hover {
			color:panel-bg;
		}
	}

}

.scheme-articlelist_item {
	image-align:left;
	
	htop: 1;
	item {
		margin:12 0;
		padding:12;
		border {
			width:1px;
			color:bordercolor;
		}
	}
	title {
		padding:0;
	}
	text {
		padding:0;
	}
	@mobile {
		image-align:center;
	}
	
}

.scheme-articlelist_panels {
	padding:0;

	title {
		background {
			color:panel-bg;
		}
		color:panel-text;
		padding:4;
		hover {
			color:textcolor;
		}
	}
	text {
		padding:4;
	}
	image {
		padding:0;
	}
	morelink:...more;
	
}	

.scheme-articlelist_test2 {
	htop:true;
	
	image {
		margin:2px;
		padding:2px;
		border {
			width:1px;
			color:imageborder;
		}
	}
	
	@mobile {
		htop:false;
		image-align:center;
	}
}

.scheme-articlelist_test3 {
	titletag:h2;
	htop:true;
	image-width:66%;
}

.scheme-articlelist_test4 {
	htop:true;
	image-width:66%;
	image-gap:40px;
}

.scheme-articlelist_test6 {
	image-align:center;
}


.scheme-articlelist_test8 {
	image-align:right;
}

.scheme-articlelist_test9 {
	wrap:1;
	@mobile {
		flow:0;
	}
}

.scheme-articlelist_test10 {
	image-align:right;
	wrap:1;
	@mobile {
		flow:0;
	}
}
