.scheme-button {
	shape:popup;
	link-color:linkcolor;
	padding:4px;
	border {
		width:1;
		style:solid;
		color:bordercolor;
	}
	background {
		color:light-panel-bg;
	}
	hover {
		link-color:accent;
	}
	width:240px;
	button-align:flex-start;
}

.scheme-buttontest2 {
	label-align:right;
	button-direction:row-reverse;
	shape:right_arrow;
}

.scheme-buttontest3 {
	button-align:center;
	icon-display:none;
}

.scheme-buttontest4 {
	label-display:none;
	shape:facebook;
}
		