
:root {
	--subcolwidth:160px;
	--xcolwidth:120px;
}
.col-M #columns {
	grid-template-areas:"maincol";
	grid-template-columns:1fr;
}
.col-M-S #columns {
	grid-template-areas:"maincol subcol";
	grid-template-columns:auto  var(--subcolwidth);
}
.col-M-S-X #columns {
	grid-template-areas:"maincol   subcol xcol ";
	grid-template-columns:auto var(--subcolwidth) var(--xcolwidth);
}
.col-M-SX #columns {
	grid-template-areas:"maincol subcol" "maincol xcol";
	grid-template-columns:auto var(--subcolwidth) ;
}
.col-M-X #columns {
	grid-template-areas:"maincol xcol";
	grid-template-columns:auto  var(--xcolwidth);
}
.col-M-X-S #columns {
	grid-template-areas:"maincol xcol  subcol";
	grid-template-columns:auto  var(--xcolwidth)  var(--subcolwidth);
}
.col-M-XS #columns {
	grid-template-areas:"maincol xcol" "maincol subcol";
	grid-template-columns:auto var(--subcolwidth) ;
}
.col-MS #columns {
	grid-template-areas:"maincol" "subcol";
	grid-template-columns:1fr;
}
.col-MS-X #columns {
	grid-template-areas:"maincol xcol" "subcol xcol";
	grid-template-columns:auto var(--xcolwidth) ;
}
.col-MSX #columns {
	grid-template-areas:"maincol" "subcol" "xcol";
	grid-template-columns:1fr;
}
.col-MX #columns {
	grid-template-areas:"maincol" "xcol";
	grid-template-columns:1fr;
}
.col-MX-S #columns {
	grid-template-areas:"maincol subcol" "xcol subcol";
	grid-template-columns:auto  var(--subcolwidth);
}
.col-MXS #columns {
	grid-template-areas:"maincol" "xcol" "subcol";
	grid-template-columns:1fr;
}
.col-S-M #columns {
	grid-template-areas:"subcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.col-S-M-X #columns {
	grid-template-areas:"subcol maincol xcol";
	grid-template-columns:var(--subcolwidth) auto var(--xcolwidth);
}
.col-S-MX #columns {
	grid-template-areas:"subcol maincol" "subcol xcol";
	grid-template-columns:var(--subcolwidth) auto;
}
.col-S-X-M #columns {
	grid-template-areas:"subcol xcol maincol";
	grid-template-columns:var(--subcolwidth) var(--xcolwidth) auto ;
}
.col-S-XM #columns {
	grid-template-areas:"subcol xcol" "subcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.col-SM #columns {
	grid-template-areas:"subcol" "maincol";
	grid-template-columns:1fr;
}
.col-SM-X #columns {
	grid-template-areas:"subcol xcol" "maincol xcol";
	grid-template-columns:auto var(--xcolwidth) ;
}
.col-SMX #columns {
	grid-template-areas:"subcol" "maincol" "xcol";
	grid-template-columns:1fr;
}
.col-SX-M #columns {
	grid-template-areas:"subcol maincol" "xcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.col-SXM #columns {
	grid-template-areas:"subcol" "xcol" "maincol";
	grid-template-columns:1fr;
}
.col-X-M #columns {
	grid-template-areas:"xcol maincol";
	grid-template-columns:var(--xcolwidth) auto;
}
.col-X-M-S #columns {
	grid-template-areas:"xcol maincol subcol";
	grid-template-columns:var(--xcolwidth) auto  var(--subcolwidth);
}
.col-X-MS #columns {
	grid-template-areas:"xcol maincol" "xcol subcol";
	grid-template-columns:var(--xcolwidth) auto;
}
.col-X-S-M #columns {
	grid-template-areas:"xcol  subcol maincol";
	grid-template-columns:var(--xcolwidth)   var(--subcolwidth) auto;
}
.col-X-SM #columns {
	grid-template-areas:"xcol subcol" "xcol maincol";
	grid-template-columns:var(--xcolwidth) auto;
}
.col-XM #columns {
	grid-template-areas:"xcol maincol";
	grid-template-columns:1fr;
}
.col-XM-S #columns {
	grid-template-areas:"xcol subcol" "maincol subcol";
	grid-template-columns:auto var(--subcolwidth);
}
.col-XMS #columns {
	grid-template-areas:"xcol" "maincol" "subcol";
	grid-template-columns:1fr;
}
.col-XS-M #columns {
	grid-template-areas:"xcol maincol" "subcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.col-XSM #columns {
	grid-template-areas:"xcol" "subcol" "maincol";
	grid-template-columns:1fr;
}
@media only screen and (min-width: 1200px) {
.max-M #columns {
	grid-template-areas:"maincol";
	grid-template-columns:1fr;
}
.max-M-S #columns {
	grid-template-areas:"maincol subcol";
	grid-template-columns:auto  var(--subcolwidth);
}
.max-M-S-X #columns {
	grid-template-areas:"maincol   subcol xcol ";
	grid-template-columns:auto var(--subcolwidth) var(--xcolwidth);
}
.max-M-SX #columns {
	grid-template-areas:"maincol subcol" "maincol xcol";
	grid-template-columns:auto var(--subcolwidth) ;
}
.max-M-X #columns {
	grid-template-areas:"maincol xcol";
	grid-template-columns:auto  var(--xcolwidth);
}
.max-M-X-S #columns {
	grid-template-areas:"maincol xcol  subcol";
	grid-template-columns:auto  var(--xcolwidth)  var(--subcolwidth);
}
.max-M-XS #columns {
	grid-template-areas:"maincol xcol" "maincol subcol";
	grid-template-columns:auto var(--subcolwidth) ;
}
.max-MS #columns {
	grid-template-areas:"maincol" "subcol";
	grid-template-columns:1fr;
}
.max-MS-X #columns {
	grid-template-areas:"maincol xcol" "subcol xcol";
	grid-template-columns:auto var(--xcolwidth) ;
}
.max-MSX #columns {
	grid-template-areas:"maincol" "subcol" "xcol";
	grid-template-columns:1fr;
}
.max-MX #columns {
	grid-template-areas:"maincol" "xcol";
	grid-template-columns:1fr;
}
.max-MX-S #columns {
	grid-template-areas:"maincol subcol" "xcol subcol";
	grid-template-columns:auto  var(--subcolwidth);
}
.max-MXS #columns {
	grid-template-areas:"maincol" "xcol" "subcol";
	grid-template-columns:1fr;
}
.max-S-M #columns {
	grid-template-areas:"subcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.max-S-M-X #columns {
	grid-template-areas:"subcol maincol xcol";
	grid-template-columns:var(--subcolwidth) auto var(--xcolwidth);
}
.max-S-MX #columns {
	grid-template-areas:"subcol maincol" "subcol xcol";
	grid-template-columns:var(--subcolwidth) auto;
}
.max-S-X-M #columns {
	grid-template-areas:"subcol xcol maincol";
	grid-template-columns:var(--subcolwidth) var(--xcolwidth) auto ;
}
.max-S-XM #columns {
	grid-template-areas:"subcol xcol" "subcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.max-SM #columns {
	grid-template-areas:"subcol" "maincol";
	grid-template-columns:1fr;
}
.max-SM-X #columns {
	grid-template-areas:"subcol xcol" "maincol xcol";
	grid-template-columns:auto var(--xcolwidth) ;
}
.max-SMX #columns {
	grid-template-areas:"subcol" "maincol" "xcol";
	grid-template-columns:1fr;
}
.max-SX-M #columns {
	grid-template-areas:"subcol maincol" "xcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.max-SXM #columns {
	grid-template-areas:"subcol" "xcol" "maincol";
	grid-template-columns:1fr;
}
.max-X-M #columns {
	grid-template-areas:"xcol maincol";
	grid-template-columns:var(--xcolwidth) auto;
}
.max-X-M-S #columns {
	grid-template-areas:"xcol maincol subcol";
	grid-template-columns:var(--xcolwidth) auto  var(--subcolwidth);
}
.max-X-MS #columns {
	grid-template-areas:"xcol maincol" "xcol subcol";
	grid-template-columns:var(--xcolwidth) auto;
}
.max-X-S-M #columns {
	grid-template-areas:"xcol  subcol maincol";
	grid-template-columns:var(--xcolwidth)   var(--subcolwidth) auto;
}
.max-X-SM #columns {
	grid-template-areas:"xcol subcol" "xcol maincol";
	grid-template-columns:var(--xcolwidth) auto;
}
.max-XM #columns {
	grid-template-areas:"xcol maincol";
	grid-template-columns:1fr;
}
.max-XM-S #columns {
	grid-template-areas:"xcol subcol" "maincol subcol";
	grid-template-columns:auto var(--subcolwidth);
}
.max-XMS #columns {
	grid-template-areas:"xcol" "maincol" "subcol";
	grid-template-columns:1fr;
}
.max-XS-M #columns {
	grid-template-areas:"xcol maincol" "subcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.max-XSM #columns {
	grid-template-areas:"xcol" "subcol" "maincol";
	grid-template-columns:1fr;
}
}
@media only screen and (max-width: 800px) {
.mid-M #columns {
	grid-template-areas:"maincol";
	grid-template-columns:1fr;
}
.mid-M-S #columns {
	grid-template-areas:"maincol subcol";
	grid-template-columns:auto  var(--subcolwidth);
}
.mid-M-S-X #columns {
	grid-template-areas:"maincol   subcol xcol ";
	grid-template-columns:auto var(--subcolwidth) var(--xcolwidth);
}
.mid-M-SX #columns {
	grid-template-areas:"maincol subcol" "maincol xcol";
	grid-template-columns:auto var(--subcolwidth) ;
}
.mid-M-X #columns {
	grid-template-areas:"maincol xcol";
	grid-template-columns:auto  var(--xcolwidth);
}
.mid-M-X-S #columns {
	grid-template-areas:"maincol xcol  subcol";
	grid-template-columns:auto  var(--xcolwidth)  var(--subcolwidth);
}
.mid-M-XS #columns {
	grid-template-areas:"maincol xcol" "maincol subcol";
	grid-template-columns:auto var(--subcolwidth) ;
}
.mid-MS #columns {
	grid-template-areas:"maincol" "subcol";
	grid-template-columns:1fr;
}
.mid-MS-X #columns {
	grid-template-areas:"maincol xcol" "subcol xcol";
	grid-template-columns:auto var(--xcolwidth) ;
}
.mid-MSX #columns {
	grid-template-areas:"maincol" "subcol" "xcol";
	grid-template-columns:1fr;
}
.mid-MX #columns {
	grid-template-areas:"maincol" "xcol";
	grid-template-columns:1fr;
}
.mid-MX-S #columns {
	grid-template-areas:"maincol subcol" "xcol subcol";
	grid-template-columns:auto  var(--subcolwidth);
}
.mid-MXS #columns {
	grid-template-areas:"maincol" "xcol" "subcol";
	grid-template-columns:1fr;
}
.mid-S-M #columns {
	grid-template-areas:"subcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.mid-S-M-X #columns {
	grid-template-areas:"subcol maincol xcol";
	grid-template-columns:var(--subcolwidth) auto var(--xcolwidth);
}
.mid-S-MX #columns {
	grid-template-areas:"subcol maincol" "subcol xcol";
	grid-template-columns:var(--subcolwidth) auto;
}
.mid-S-X-M #columns {
	grid-template-areas:"subcol xcol maincol";
	grid-template-columns:var(--subcolwidth) var(--xcolwidth) auto ;
}
.mid-S-XM #columns {
	grid-template-areas:"subcol xcol" "subcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.mid-SM #columns {
	grid-template-areas:"subcol" "maincol";
	grid-template-columns:1fr;
}
.mid-SM-X #columns {
	grid-template-areas:"subcol xcol" "maincol xcol";
	grid-template-columns:auto var(--xcolwidth) ;
}
.mid-SMX #columns {
	grid-template-areas:"subcol" "maincol" "xcol";
	grid-template-columns:1fr;
}
.mid-SX-M #columns {
	grid-template-areas:"subcol maincol" "xcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.mid-SXM #columns {
	grid-template-areas:"subcol" "xcol" "maincol";
	grid-template-columns:1fr;
}
.mid-X-M #columns {
	grid-template-areas:"xcol maincol";
	grid-template-columns:var(--xcolwidth) auto;
}
.mid-X-M-S #columns {
	grid-template-areas:"xcol maincol subcol";
	grid-template-columns:var(--xcolwidth) auto  var(--subcolwidth);
}
.mid-X-MS #columns {
	grid-template-areas:"xcol maincol" "xcol subcol";
	grid-template-columns:var(--xcolwidth) auto;
}
.mid-X-S-M #columns {
	grid-template-areas:"xcol  subcol maincol";
	grid-template-columns:var(--xcolwidth)   var(--subcolwidth) auto;
}
.mid-X-SM #columns {
	grid-template-areas:"xcol subcol" "xcol maincol";
	grid-template-columns:var(--xcolwidth) auto;
}
.mid-XM #columns {
	grid-template-areas:"xcol maincol";
	grid-template-columns:1fr;
}
.mid-XM-S #columns {
	grid-template-areas:"xcol subcol" "maincol subcol";
	grid-template-columns:auto var(--subcolwidth);
}
.mid-XMS #columns {
	grid-template-areas:"xcol" "maincol" "subcol";
	grid-template-columns:1fr;
}
.mid-XS-M #columns {
	grid-template-areas:"xcol maincol" "subcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.mid-XSM #columns {
	grid-template-areas:"xcol" "subcol" "maincol";
	grid-template-columns:1fr;
}
}
@media only screen and (max-width: 600px) {
.mob-M #columns {
	grid-template-areas:"maincol";
	grid-template-columns:1fr;
}
.mob-M-S #columns {
	grid-template-areas:"maincol subcol";
	grid-template-columns:auto  var(--subcolwidth);
}
.mob-M-S-X #columns {
	grid-template-areas:"maincol   subcol xcol ";
	grid-template-columns:auto var(--subcolwidth) var(--xcolwidth);
}
.mob-M-SX #columns {
	grid-template-areas:"maincol subcol" "maincol xcol";
	grid-template-columns:auto var(--subcolwidth) ;
}
.mob-M-X #columns {
	grid-template-areas:"maincol xcol";
	grid-template-columns:auto  var(--xcolwidth);
}
.mob-M-X-S #columns {
	grid-template-areas:"maincol xcol  subcol";
	grid-template-columns:auto  var(--xcolwidth)  var(--subcolwidth);
}
.mob-M-XS #columns {
	grid-template-areas:"maincol xcol" "maincol subcol";
	grid-template-columns:auto var(--subcolwidth) ;
}
.mob-MS #columns {
	grid-template-areas:"maincol" "subcol";
	grid-template-columns:1fr;
}
.mob-MS-X #columns {
	grid-template-areas:"maincol xcol" "subcol xcol";
	grid-template-columns:auto var(--xcolwidth) ;
}
.mob-MSX #columns {
	grid-template-areas:"maincol" "subcol" "xcol";
	grid-template-columns:1fr;
}
.mob-MX #columns {
	grid-template-areas:"maincol" "xcol";
	grid-template-columns:1fr;
}
.mob-MX-S #columns {
	grid-template-areas:"maincol subcol" "xcol subcol";
	grid-template-columns:auto  var(--subcolwidth);
}
.mob-MXS #columns {
	grid-template-areas:"maincol" "xcol" "subcol";
	grid-template-columns:1fr;
}
.mob-S-M #columns {
	grid-template-areas:"subcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.mob-S-M-X #columns {
	grid-template-areas:"subcol maincol xcol";
	grid-template-columns:var(--subcolwidth) auto var(--xcolwidth);
}
.mob-S-MX #columns {
	grid-template-areas:"subcol maincol" "subcol xcol";
	grid-template-columns:var(--subcolwidth) auto;
}
.mob-S-X-M #columns {
	grid-template-areas:"subcol xcol maincol";
	grid-template-columns:var(--subcolwidth) var(--xcolwidth) auto ;
}
.mob-S-XM #columns {
	grid-template-areas:"subcol xcol" "subcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.mob-SM #columns {
	grid-template-areas:"subcol" "maincol";
	grid-template-columns:1fr;
}
.mob-SM-X #columns {
	grid-template-areas:"subcol xcol" "maincol xcol";
	grid-template-columns:auto var(--xcolwidth) ;
}
.mob-SMX #columns {
	grid-template-areas:"subcol" "maincol" "xcol";
	grid-template-columns:1fr;
}
.mob-SX-M #columns {
	grid-template-areas:"subcol maincol" "xcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.mob-SXM #columns {
	grid-template-areas:"subcol" "xcol" "maincol";
	grid-template-columns:1fr;
}
.mob-X-M #columns {
	grid-template-areas:"xcol maincol";
	grid-template-columns:var(--xcolwidth) auto;
}
.mob-X-M-S #columns {
	grid-template-areas:"xcol maincol subcol";
	grid-template-columns:var(--xcolwidth) auto  var(--subcolwidth);
}
.mob-X-MS #columns {
	grid-template-areas:"xcol maincol" "xcol subcol";
	grid-template-columns:var(--xcolwidth) auto;
}
.mob-X-S-M #columns {
	grid-template-areas:"xcol  subcol maincol";
	grid-template-columns:var(--xcolwidth)   var(--subcolwidth) auto;
}
.mob-X-SM #columns {
	grid-template-areas:"xcol subcol" "xcol maincol";
	grid-template-columns:var(--xcolwidth) auto;
}
.mob-XM #columns {
	grid-template-areas:"xcol maincol";
	grid-template-columns:1fr;
}
.mob-XM-S #columns {
	grid-template-areas:"xcol subcol" "maincol subcol";
	grid-template-columns:auto var(--subcolwidth);
}
.mob-XMS #columns {
	grid-template-areas:"xcol" "maincol" "subcol";
	grid-template-columns:1fr;
}
.mob-XS-M #columns {
	grid-template-areas:"xcol maincol" "subcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.mob-XSM #columns {
	grid-template-areas:"xcol" "subcol" "maincol";
	grid-template-columns:1fr;
}
}
@media only print {
.print-M #columns {
	grid-template-areas:"maincol";
	grid-template-columns:1fr;
}
.print-M-S #columns {
	grid-template-areas:"maincol subcol";
	grid-template-columns:auto  var(--subcolwidth);
}
.print-M-S-X #columns {
	grid-template-areas:"maincol   subcol xcol ";
	grid-template-columns:auto var(--subcolwidth) var(--xcolwidth);
}
.print-M-SX #columns {
	grid-template-areas:"maincol subcol" "maincol xcol";
	grid-template-columns:auto var(--subcolwidth) ;
}
.print-M-X #columns {
	grid-template-areas:"maincol xcol";
	grid-template-columns:auto  var(--xcolwidth);
}
.print-M-X-S #columns {
	grid-template-areas:"maincol xcol  subcol";
	grid-template-columns:auto  var(--xcolwidth)  var(--subcolwidth);
}
.print-M-XS #columns {
	grid-template-areas:"maincol xcol" "maincol subcol";
	grid-template-columns:auto var(--subcolwidth) ;
}
.print-MS #columns {
	grid-template-areas:"maincol" "subcol";
	grid-template-columns:1fr;
}
.print-MS-X #columns {
	grid-template-areas:"maincol xcol" "subcol xcol";
	grid-template-columns:auto var(--xcolwidth) ;
}
.print-MSX #columns {
	grid-template-areas:"maincol" "subcol" "xcol";
	grid-template-columns:1fr;
}
.print-MX #columns {
	grid-template-areas:"maincol" "xcol";
	grid-template-columns:1fr;
}
.print-MX-S #columns {
	grid-template-areas:"maincol subcol" "xcol subcol";
	grid-template-columns:auto  var(--subcolwidth);
}
.print-MXS #columns {
	grid-template-areas:"maincol" "xcol" "subcol";
	grid-template-columns:1fr;
}
.print-S-M #columns {
	grid-template-areas:"subcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.print-S-M-X #columns {
	grid-template-areas:"subcol maincol xcol";
	grid-template-columns:var(--subcolwidth) auto var(--xcolwidth);
}
.print-S-MX #columns {
	grid-template-areas:"subcol maincol" "subcol xcol";
	grid-template-columns:var(--subcolwidth) auto;
}
.print-S-X-M #columns {
	grid-template-areas:"subcol xcol maincol";
	grid-template-columns:var(--subcolwidth) var(--xcolwidth) auto ;
}
.print-S-XM #columns {
	grid-template-areas:"subcol xcol" "subcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.print-SM #columns {
	grid-template-areas:"subcol" "maincol";
	grid-template-columns:1fr;
}
.print-SM-X #columns {
	grid-template-areas:"subcol xcol" "maincol xcol";
	grid-template-columns:auto var(--xcolwidth) ;
}
.print-SMX #columns {
	grid-template-areas:"subcol" "maincol" "xcol";
	grid-template-columns:1fr;
}
.print-SX-M #columns {
	grid-template-areas:"subcol maincol" "xcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.print-SXM #columns {
	grid-template-areas:"subcol" "xcol" "maincol";
	grid-template-columns:1fr;
}
.print-X-M #columns {
	grid-template-areas:"xcol maincol";
	grid-template-columns:var(--xcolwidth) auto;
}
.print-X-M-S #columns {
	grid-template-areas:"xcol maincol subcol";
	grid-template-columns:var(--xcolwidth) auto  var(--subcolwidth);
}
.print-X-MS #columns {
	grid-template-areas:"xcol maincol" "xcol subcol";
	grid-template-columns:var(--xcolwidth) auto;
}
.print-X-S-M #columns {
	grid-template-areas:"xcol  subcol maincol";
	grid-template-columns:var(--xcolwidth)   var(--subcolwidth) auto;
}
.print-X-SM #columns {
	grid-template-areas:"xcol subcol" "xcol maincol";
	grid-template-columns:var(--xcolwidth) auto;
}
.print-XM #columns {
	grid-template-areas:"xcol maincol";
	grid-template-columns:1fr;
}
.print-XM-S #columns {
	grid-template-areas:"xcol subcol" "maincol subcol";
	grid-template-columns:auto var(--subcolwidth);
}
.print-XMS #columns {
	grid-template-areas:"xcol" "maincol" "subcol";
	grid-template-columns:1fr;
}
.print-XS-M #columns {
	grid-template-areas:"xcol maincol" "subcol maincol";
	grid-template-columns:var(--subcolwidth) auto;
}
.print-XSM #columns {
	grid-template-areas:"xcol" "subcol" "maincol";
	grid-template-columns:1fr;
}
}
