/* Static CSS for new var style grid styling */

:root {
	--mingridcol: 200px;
	--gridgap: 10px;
	--gridrowgap: var(--gridgap);
	--cols: 3;
}
.scheme-grid {
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--mingridcol),1fr));
	grid-gap:var(--gridgap);
	grid-row-gap: var(--gridrowgap);
}

/*Set number of columns */
.scheme-grid-fixedcols {
	grid-template-columns: repeat(var(--cols), 1fr);
}

/*Fixed width */
.scheme-grid-fixed {
	grid-template-columns:  repeat(auto-fill, var(--mingridcol));
}

/* Exotica */
.scheme-grid-test {
	grid-template-columns: 200px repeat(auto-fill, minmax(var(--mingridcol),1fr)) 300px;
}







