.grid-defaults {
	grid-gap:10px;
}

#testfill {
	inherit: .grid-defaults;
	grid-mode:fill;
}

#testfix {
	inherit: .grid-defaults;
	grid-gap:10px;
	grid-mode: fixed;
	grid-columns:3;
	@mid {
		grid-columns:2;
	}
	@mobile {
		grid-mode:none;
	}
}

#testfixedwidth {
	inherit: .grid-defaults;
	bar: whatever;
	grid-mode: fixedwidth;
}

#testcolumns {
	inherit: .grid-defaults;
	grid-mode: columns;
	grid-template-columns: 220px auto 260px;
	@mid {
		grid-template-columns: 120px auto 160px;
	}
	@mobile {
		grid-template-columns: 120px auto;
	}
}

#testrows {
	inherit: .grid-defaults;
	height: 400px;
	grid-mode: rows;
	grid-template-rows: 40px auto 40px;
}

#testnamed {
	inherit: .grid-defaults;
	height: 400px;
	grid-mode: named;
	grid-template-areas: "header header" "left right" "footer footer";
	grid-template-columns: 200px auto;
	grid-template-rows: 40px auto 40px;
	@mid {
		height: 280px;
		grid-template-areas: "header header" "right right" "left footer";
		grid-template-columns: 200px auto;
		grid-template-rows: 20px auto 40px;
	}
}

#testflex {
	inherit: .grid-defaults;
	grid-mode: flex;
	justify-content: flex-end;
}
#testflexnowrap {
	inherit: .grid-defaults;
	grid-mode: flex;
	flex-wrap: nowrap;
	align-items: center;
}

#testflexstretch {
	inherit: .grid-defaults;
	grid-mode: flex;
	flex-direction: row-reverse;
	flex-stretch: 1;
}
#testflexcenter {
	inherit: .grid-defaults;
	grid-mode: flex;
	justify-content: center;
}