#menu {
	menu-icon-display: none;
	menu-item-padding: 8px;
	flex: 0;
	align: center;
	menu-gap:6px;
	menu-item-border: 0;
	border-type :normal;
	link-color: brown;
	menu-background: Bisque;
	menu-item-border: 0 0 4px 0;
	
	hover {
		link-color : DarkCyan;
		menu-background : DarkKhaki;
		menu-border-color : pink;
	}
	
	hi {
		link-color : Cornsilk;
		menu-background : darkslategray;
	}
	
	@max {
		menu-icon-display: inline-block;
		align: right;
		menu-item-padding: 4px 12px;
		border-type :dividers;
		menu-gap:0;
		menu-item-border: 1px;
		flex: 1;
		stretch:0;
	}

	@mid {
		width:120px;
		flex: 0;
		menu-gap:0;
		orientation: vertical;
		align: left;
		menu-item-border: 1px;
		border-type :dividers;
		submenu_position:static;
		menu-icon-display: inline-block;
	}

	@mobile {
		width:48px;
		flex: 0;
		menu-gap:0;
		orientation: vertical;
		align: left;
		menu-item-border: 0px;
		border-type :dividers;
		submenu_position:static;
		menu-label-display: none;
	}
}