.settings_panel {
	position: absolute;
	top:20px;
	left:20px;
	border:1px solid #3c3c3c;
	background-color: #e5e5e5;
	padding:8px;
	min-width:200px;
	min-height: 260px;
	z-index: 500;
	width:480px;
	height: 460px;
	display: none;
}

.settings_panel.open {
	display: block;
}

#settings_panel_open {
	position: fixed;
	top:10px;
	left:10px;

}

.settings_panel .formInner {
	height: 100%;
	display: grid;
	grid-template-rows: min-content minmax(0, 1fr) min-content;
}

.settingsForm .wrap {
	overflow: hidden;
}

.button {
	padding:4px 8px;
	border:1px solid #333;
	background-color:white;
	margin-top:12px;
}

.button:hover {
	background-color:#efefef;
}


fieldset {
	display: grid;
	grid-template-columns: 40% auto;
	grid-gap: 4px;
}

input, select {
	padding:2px;
	width: auto;
	min-width: 0;
}

.checklist {
	display: grid;
	grid-template-columns: min-content auto;
	grid-gap: 4px;
}