/* Some standard schemes to apply via a class on the body

to do: script complete permutations

*/

body.col-SM, body.col-M, body.col-MS {
	--xcol-display:none;
}

body.col-SM {
	--columns-grid-template-areas: "subcol maincol";
	--columns-grid-template-columns: var(--subcolwidth) auto;
}

body.col-MS {
	--columns-grid-template-areas: "maincol subcol";
	--columns-grid-template-columns: auto  var(--subcolwidth);
}


body.col-MX, body.col-XM {
	--subcol-display:none;
}

body.col-XM {
	--columns-grid-template-areas: "xcol maincol";
	--columns-grid-template-columns: var(--xcolwidth) auto;
}

body.col-MX {
	--columns-grid-template-areas: "maincol xcol";
	--columns-grid-template-columns: auto  var(--xcolwidth);
}

body.col-XMS {
	--columns-grid-template-areas: "xcol maincol subcol";
	--columns-grid-template-columns:var(--xcolwidth) auto  var(--subcolwidth);
}
body.col-SXM {
	--columns-grid-template-areas: "subcol xcol maincol ";
	--columns-grid-template-columns: var(--subwidth) var(--xcolwidth) auto ;
}

body.col-XSM {
	--columns-grid-template-areas: "xcol  subcol maincol";
	--columns-grid-template-columns:var(--xcolwidth)   var(--subcolwidth) auto;
}



@media screen and (max-width: 800px) {

	body.col-XMS {
		--columns-grid-template-areas: "maincol subcol" "xcol subcol";
		--columns-grid-template-columns:auto  var(--subcolwidth);
	}

	body.col-SXM {
		--columns-grid-template-areas: "subcol maincol" "subcol xcol";
		--columns-grid-template-columns: var(--subcolwidth) auto;
	}

	body.col-XSM {
		--columns-grid-template-areas: "subcol maincol" "subcol xcol ";
		--columns-grid-template-columns: var(--subcolwidth) auto;
	}

	body.mid-XMS {
		--columns-grid-template-areas: "xcol subcol" "maincol subcol";
		--columns-grid-template-columns:auto  var(--subcolwidth);
	}
	
	body.mid-SXM {
		--columns-grid-template-areas: "subcol xcol" "subcol maincol";
		--columns-grid-template-columns: var(--subcolwidth) auto;
	}

	body.mid-XSM {
		--columns-grid-template-areas: "subcol maincol" "subcol xcol ";
		--columns-grid-template-columns: var(--subcolwidth) auto;
	}


}



@media screen and (max-width:630px) {
	
	body.col-MS {
		--columns-grid-template-areas: "maincol" "subcol";
	}


	body.col-XM {
		--columns-grid-template-areas: "xcol" "maincol";
	}

	body.col-MX {
		--columns-grid-template-areas: "maincol" "xcol";
	}

	body[class^=col] {
		--columns-grid-template-columns: 1fr;
	}

	body.col-XMS, body.mob-XMS  {
		--columns-grid-template-areas:"xcol"  "maincol" "subcol";
	}

	body.col-XSM, body.mob-XSM {
		--columns-grid-template-areas:"xcol" "subcol"  "maincol" ;
	}

	body.col-SXM, body.mob-SXM {
		--columns-grid-template-areas: "subcol" "xcol" "maincol" ;
	}


	body.mob-MSX  {
		--columns-grid-template-areas: "maincol" "subcol" "xcol" ;
	}

	body.mob-MXS  {
		--columns-grid-template-areas: "maincol"  "xcol" "subcol";
	}

	
	
}

/* Gets awkward: this is why we use a pre-processor */;
body.nonav {
	--uber-grid-template-areas: "header"
			 "content" 
			 "footer";
	--uber-grid-template-rows: min-content auto min-content;
}

body.nonav #topnav, body.nonav #bottomnav {
	display:none;
}

body.topnav {
	--uber-grid-template-areas: "topnav" "header"
			 "content" 
			 "footer";
	--uber-grid-template-rows: min-content min-content auto min-content;
}

body.topnav #bottomnav {
	display:none;
}
