/*

Some sample column schemes

layout-fixed-header

*/

body.layout-fixed-header {
	--header-fixed:1;
}
body.layout-fixed-header #menu {
	--sticky:1;
}
body.layout-fixed-header #xcol {
	--sticky:1;
}
body.layout-framed {
	--framed:1;
}
body.layout-framed-fixed-header {
	--framed:1;
	--header-fixed:1;
}

/* not sure about this mechanism maybe OTT */
body.layout-simpler #content_top, body.layout-simpler #content_bottom, body.layout-simpler #nav, body.layout-simpler #bottomnav {
	--show:hide;
}

body.layout-fixed-menu {
	--site-align: left;
	--menu-fixed: 1;
	--menu-width: 240px;
}

@media (max-width:800px) {

	body.layout-fixed-menu {
		--menu-fixed: 0;
	}

}

body.layout-fixed-menu-header {
	--site-align: left;
	--menu-fixed: 1;
	--menu-width: 240px;
	--header-fixed:1;
}

@media (max-width:800px) {

	body.layout-fixed-menu-header {
		--menu-fixed: 0;
	}

}


body.layout-fixed-header-footer {
	--footer-fixed: 1;
	--header-fixed:1;
}

body.layout-fixed-header-footer #menu {
	--sticky: 1;
}
body.layout-fixed-header-footer #xcol {
	--sticky: 1;
}

body.layout-fixed-menu-header-footer {
	--footer-fixed: 1;
	--header-fixed:1;
	--site-align: left;
	--menu-fixed: 1;
	--menu-width: 240px;
}

body.layout-fixed-menu-header-footer #xcol {
	--sticky: 1;
}

@media (max-width:800px) {

	body.layout-fixed-menu-header-footer {
		--menu-fixed: 0;
	}


	body.layout-fixed-menu-header-footer #xcol {
		--sticky: 0;
	}
}
