/* MENUS

WIP Schemes file.

As with all of these the current work is applying styling via classes. The end game
is to the use cs components to generate these scheme files automatically just be using
a clik stylesheet

Settings:


*/

.scheme-borders {
	--menu-item-border:2px;
	--menu-gap:0px;
	--menu-item-border-width: 0 var(--menu-item-border) 0 0;
}

.scheme-borders li:last-of-type {
	--menu-item-border-width: 0;
}

.scheme-boxes {
	--menu-item-border:4px;
	--menu-gap:0px;
	--menu-item-border-width: var(--menu-item-border) 0 var(--menu-item-border) var(--menu-item-border);
}

.scheme-boxes li:last-of-type {
	--menu-item-border-width: var(--menu-item-border);
}

.scheme-vertical {
	width: 180px;
	--menu-display: grid;
	--menu-item-width: 180px;
	--menu-text-align:left;
	--menu-icon-display: block;
}

.scheme-vertical.scheme-borders {
	--menu-item-border-width: 0 0 var(--menu-item-border) 0;
}

.scheme-vertical.scheme-boxes {
	--menu-item-border-width: var(--menu-item-border) var(--menu-item-border) 0  var(--menu-item-border);
}

.scheme-grid {
	--menu-display: grid;
	--menu-item-width: 80px;
}





