/**
 * Convert our var names to Material icons names
 *
 * See also google_icons.css and google_icons_local.css
 * 
 */
:root {
	--icon-previous: "chevron_left";
	--icon-next: "chevron_right"; 
	--icon-squares: "apps";
	--icon-first_page: "keyboard_double_arrow_left";
	--icon-last_page: "keyboard_double_arrow_right";
	--icon-cart: "shopping_cart";
	--icon-account: "account_circle";
	--icon-sortasc: "keyboard_arrow_up";
	--icon-sort: "unfold_more";
	--icon-sortdesc: "keyboard_arrow_down";
	--icon-grip: "drag_handle";
	--icon-add: "add_circle";
	--icon-run: "play_arrow";
	--icon-font: normal 400 1em/1 "Material Icons"; 
}

