<!DOCTYPE html>
<html>
<head>
	<title>Basic layout</title>
	<meta name="description" content="A test layout">
	<meta name="author" content="Tom peer">
</head>

<body data-test="1" data-columns="col-S-M mob-SM">

	<div id="ubercontainer">

		<div id="header">
			<div class="inner">
				<content type="title" id="sitetitle">
					{{site.title}}	
				</content>
				<content id="topmenu" type="menu"></content>
			</div>
		</div>

		<div id="topnav">
			<div class="inner">
				<content type="text" id="breadcrumb">
					You are here: {{section.location}}	
				</content>
			</div>
		</div> 
		

		<div id="content">
			<div class="inner">

				<div id="contentheader">
					
				</div>
				
				<div id="columns">

					<div id="subcol">
						<content id="mainmenu" type="menu"></content>
					</div>
					
					<div id="maincol">
						<content id="welcome" data-notes="Notes here">
							<title>{{section.title}}</title>
							<content>
							{{section.copy}}
							</content>
						</content>
					</div>

					<div id="xcol">
					</div>
				</div>

				<div id="contentfooter">
					<content id="welcome1" data-notes="Notes here">
						<title>Footer item 1</title>
						<content>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						</content>
						<image>http://localpreview.clikpic.com/sampleimages/harley-davidson-XnhmpwEbv5I-unsplash_thumb.jpg</image>
					</content>
					<content id="welcome2" data-notes="Notes here">
						<title>Footer item 2</title>
						<content>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						</content>
						<image>http://localpreview.clikpic.com/sampleimages/harley-davidson-XnhmpwEbv5I-unsplash_thumb.jpg</image>
					</content>
					<content id="welcome3" data-notes="Notes here">
						<title>Footer item 3</title>
						<content>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						</content>
						<image>http://localpreview.clikpic.com/sampleimages/harley-davidson-XnhmpwEbv5I-unsplash_thumb.jpg</image>
					</content>
				</div>

			</div>
		</div>

		<div id="footer">
			<div class="inner">
				<content id="footermenu" type="menu"></content>
				<content id="copyright">{{site.meta.copyright}}</content>
				<content id="contactme">{{site.meta.contacttel}}</content>
			</div>
		</div>

	</div>

</body>
</html>