<!DOCTYPE html>
<html>
<head>
	<title>My test layout</title>
	<meta name="description" content="A test layout to extend another">
	<meta name="author" content="Tom peer">
</head>

<body data-extends="testlayout1" columns="S-M">
		
	<div id="maincol">

		<div id="maincol_top">

			<content id="sectiontitle" type="title" data-notes="Notes here" class="scheme-title">
				<title>Section title</title>
				<content>
				{{section.title}}
				</content>
			</content>

			<content id="sectionintro" class="scheme-intro" type="text" data-notes="Notes here" class="scheme-intros">
				<title>Section intro</title>
				<content>
				{{section.intro}}
				</content>
			</content>

			<content id="sectioncopy" type="text" data-notes="Notes here">
				<title>Section copy</title>
				<content>
				{{section.copy}}
				</content>
			</content>
		</div>	


		<div id="maincol_bottom">
			<!-- flex-start flex-end flex-between flex-center flex-around] -->
			
		</div>	

	</div>


</body>
</html>