<!DOCTYPE html>
<html>
<head>
	<title>Article Detail</title>
	<meta name="description" content="Shows standard article with navigation for previous and next">
	<meta name="author" content="Tom peer">
	<style>
	#contentwrap {
		grid {
			grid-gap:10px;
			grid-template-columns:minmax(0, 1fr) 33%;
		}
		@mobile {
			grid {
				grid-mode:none;
			}
			#xcol {
				margin:10 0 0 0;
			}
		}
	}
	</style>
</head>

<body data-extends="double">
	
	<div id="contentheader">
		<content id="sectiontitle" type="title" data-notes="Notes here" class="scheme-title">
			<title>Section title</title>
			<content>
			{{section.title}}
			</content>
		</content>			
	</div>
	
	<div id="xcol">

		<content id="image" type="image" class="scheme-box">
			<title>Image tests</title>
			<field-image>{{record.image}}</field-image>
		</content>

		<div id="navbuttons" class="scheme-navbuttons">
			<!-- TODO: library items. Sometimes we do want to
			share content between different layouts.
			in that case we want a generic content definition
			Currently these are defined in photodetail -->			
		</div>
	</div>
	
	<div id="maincol">

		<div id="maincol_top">

			<content id="articletitle" type="title" data-notes="Notes here" class="scheme-title scheme-articletitle">
				<title>Article title</title>
				<content>
				{{record.title}}
				</content>
			</content>

			<content id="articleintro" class="scheme-intro" type="text">
				<title>Article intro</title>
				<content>
				{{record.intro}}
				</content>
			</content>

			<content id="articlecopy" type="text" data-notes="Notes here">
				<title>Article copy</title>
				<content>
				{{record.detail}}
				</content>
			</content>
			
		</div>	

		<div id="maincol_bottom">
			<!-- flex-start flex-end flex-between flex-center flex-around] -->
			
		</div>	

	</div>


</body>
</html>