<!DOCTYPE html>
<html>
<head>
	<title>Contact page section</title>
	<meta name="description" content="Show form">
	<meta name="author" content="Tom peer">
</head>

<body data-extends="main">
		
	<div id="maincol">

		<div id="maincol_top">

			<content id="contactform" type="form" class="scheme-forms">
				<title>Contact Form title</title>
			</content>	

			<content id="sectioncopy" type="text">
				<title>Section copy</title>
				<content>
				{{section.copy}}
				</content>
			</content>
			
		</div>	


		<div id="maincol_bottom">
			
			
		</div>	
	</div>

</body>
</html>