<!DOCTYPE html>
<html>
<head>
	<title>Alternative gallery layout</title>
	<meta name="description" content="">
	<meta name="author" content="Tom peer">
</head>

<body data-extends="gallery">
	
	<div id="maincol_top">
		<content id="imagegrid2" data-notes="Notes here" type="imagegrid" class="fill scheme-overlay">
			<style>
				grid-mode:auto;
				grid-width:220px;
				grid-gap:8px;
				
				@mid {
					grid-mode:auto;
					grid-width:180px;
				}

				@mobile {					
					grid-mode:none;
					grid-width:100%;
				}
			</style>
		</content>
			
	</div>	



</body>
</html>