<!DOCTYPE html>
<html>
<head>
	<title>Alternative gallery layout</title>
	<meta name="description" content="">
	<meta name="author" content="Tom peer">
</head>

<body data-extends="gallery">
	
	<div id="maincol_top">
		<content id="imagegrid2" data-notes="Notes here" type="imagegrid" class="fill scheme-overlay">
			<link>{{link.{{section.id}}.view.{{data.id}}}}</link>
			<style>
				grid-mode:fit;
				grid-width:160px;
				grid-gap:18px;
				
				@mid {
					grid-width:120px;
				}

				@mobile {					
					grid-mode:none;
					grid-width:100%;
				}
			</style>
		</content>
			
	</div>	



</body>
</html>