<!DOCTYPE html>
<html>
<head>
	<title>Home page layout</title>
	<meta name="description" content="A test layout to extend another">
	<meta name="author" content="Tom peer">
	<style>
	#content_footer {
		grid-mode:fit;
		grid-gap:14px;
		@mobile {
			grid-mode:none;
		}
	}	
	</style>
</head>

<body data-extends="section">
		
	<div id="maincol" grid="1">

		

		<div id="maincol_bottom">
			<content id="homearticlecarousel" class="scheme-carousel" type="articlelist">
				<title>List of homepage articles</title>
				<dataset tag="test2" sort="pubdate desc"></dataset>
				<link>{link.news.view.{data.id}}</link>
			</content>
		</div>	
	

	<div id="content_footer" class="grid">
		<content id="welcome1" data-notes="Notes here">
			<title>Footer item 1</title>
			<content>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</content>
			<image>/images/harley-davidson-XnhmpwEbv5I-unsplash_thumb.jpg</image>
		</content>
		<content id="welcome2" data-notes="Notes here">
			<title>Footer item 2</title>
			<content>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</content>
			<image>/images/mak-ipkw44S_LHM-unsplash.jpg</image>
		</content>
		<content id="welcome3" data-notes="Notes here">
			<title>Footer item 3</title>
			<content>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			</content>
			<image>/images/nathan-dumlao-ljbqCDlAhjY-unsplash.jpg</image>
		</content>
	</div>
	


</body>
</html>