<!DOCTYPE html>
<html>
<head>
	<title>Photo detail page</title>
	<meta name="description" content="">
	<meta name="author" content="Tom peer">
	<style>
		#photo {
			height: 100%;
		}
	</style>
</head>

<body data-extends="double">
	
	<div id="xcol">
		
		<content id="caption" type="text">
			<title>Photo information</title>
			<content>{{record.caption}}</content>
		</content>
		
		<div id="navbuttons" class="scheme-navbuttons">
			<content id="navprev" />
			<content id="navnext" />			
		</div>

	</div>

	<div id="maincol">

		<div id="photo">	
		
			<content id="photolayout-details" type="image" class="scheme-box">
				<title>Image tests</title>
				<image>{{record.image}}</image>
				<style>
					heightfix:1;
				</style>
			</content>
		
		</div>
		
	</div>

</body>
</html>