<!DOCTYPE html>
<html>
<head>
	<title>Photo detail page</title>
	<meta name="description" content="">
	<meta name="author" content="Tom peer">
	<style>
		#ubercontainer {
			max-height:100vh;
		}
	</style>
</head>

<body data-extends="double">
	
	<div id="xcol">
		
		<content id="caption" type="text">
			<title>Photo information</title>
			<content>{{record.caption}}</content>
		</content>
		
		<div id="navbuttons" class="scheme-navbuttons">
			<content id="navprev" type="button" class="scheme-button">
				<title>Previous button</title>
				<content>
					{{record.previous_title}}				
				</content>
				<link>{{record.previous_link}}</link>
			</content>
			<content id="navnext" type="button" class="scheme-button">
				<title>Next button</title>
				<link>
					{{record.next_link}}
				</link>
				<content>
					{{record.next_title}}				
				</content>				
			</content>
		</div>

	</div>

	<div id="maincol">

		<div id="maincol_top">
			<div id="photo">	
				<content id="photolayout-details" type="image" class="scheme-box">
					<title>Image tests</title>
					<field-image>{{record.image}}</field-image>
					<style>
						width:90%;
						max-height:100%;
						frame {
							max-height:100%;
						}
						image {
							object-fit:contain;
						}
					</style>
				</content>
				
			</div>
			
		</div>	


		<div id="maincol_bottom">
			
		</div>

	

	</div>




</body>
</html>