<!DOCTYPE html>
<html>
<head>
	<title>Photo detail page</title>
	<meta name="description" content="">
	<meta name="author" content="Tom peer">
</head>

<body data-extends="single">
		
	<div id="maincol">

		<div id="maincol_top">

			<content id="sectiontitle" type="title" data-notes="Notes here" class="scheme-title">
				<title>Section title</title>
				<content>
				{{section.title}}
				</content>
			</content>
		</div>	


		<div id="maincol_bottom">
			<div id="photogrid">	
				<content id="image" type="image" class="scheme-box">
					<title>Image tests</title>
					<field-image>/images/{{record.image}}</field-image>
				</content>
				<content id="caption" type="text">
					<title>Photo information</title>
					<content>{{record.caption}}</content>
				</content>
			</div>
		</div>

	

	</div>




</body>
</html>