<!DOCTYPE html>
<html>
<head>
	<title>Section list</title>
	<meta name="description" content="List sub sections">
	<meta name="author" content="Tom peer">
</head>

<body data-extends="main">
		
	<div id="maincol">

		<div id="maincol_top">

			<content id="sectiontitle" type="title" data-notes="Notes here" class="scheme-title">
				<title>Section title</title>
				<content>
				{{section.title}}
				</content>
			</content>

			<content id="sectionintro" class="scheme-intro" type="text" data-notes="Notes here">
				<title>Section intro</title>
				<content>
				{{section.intro}}
				</content>
			</content>
			
		</div>	

		<div id="maincol_bottom">
			<content id="sectionlist" class="scheme-listings" type="articlelist" data-notes="Notes here">
				<title>Section list</title>
				<description>Uses section data set to display sub sections</description>
				<link>{{link.{{data.id}}}}</link>
				<style>
					item {
						title {
							text-transform:uppercase;
						}
						image {
							padding:4px;
							hover {
								padding:2px;
								border {
									width:2px;
									color:panel-text;
								}
							}
						}
						padding:12px;
						background {
							color:light-panel-bg;
						}
						align:left;
						imagewidth:33%;
						margin:0 0 12px 0;
						hover {
							color:panel-text;
							background {
								color:panel-bg;
							}
						}
					}
			
				</style>
			</content>			
		</div>	

	</div>

	

</body>
</html>