<!DOCTYPE html>
<html>
<head>
	<title>Single page section</title>
	<meta name="description" content="Show just section data">
	<meta name="author" content="Tom peer">
</head>

<body data-extends="main">

	<div id="contentheader">
		
		<content id="sectiontitle" type="title" data-notes="Notes here" class="scheme-title">
			<title>Section title</title>
			<content>
			{{section.title}}
			</content>
		</content>	

		<content id="mainsectionnav" type="button" class="scheme-button scheme-navbutton">
			<title>Parent link button</title>
			<content>
				{{section.parent_title}}
			</content>
			<link>{{section.parent_link}}</link>
		</content>
	</div>
	
	<div id="maincol">
		<div id="maincol_top">

			<content id="sectioncopy" type="text">
				<title>Section detail</title>
				<content>
				{{section.detail}}
				</content>
			</content>
			
		</div>	


		<div id="maincol_bottom">
			
			
		</div>	
	</div>

</body>
</html>