<!DOCTYPE html>
<html>
<head>
	<title>Single page section</title>
	<meta name="description" content="Show just section data">
	<meta name="author" content="Tom peer">
</head>

<body data-extends="main">

	<div id="content_header">
		<div id="contentheader_title">
			<content id="sectiontitle" type="title" data-notes="Notes here" class="scheme-title">
				<title>Section title</title>
				<content>
				{{section.title}}
				</content>
			</content>	
		</div>
		<div id="contentheader_nav">
		</div>
	</div>
	
	<div id="maincol">
		<div id="maincol_top">

			<content id="sectioncopy" type="text">
				<title>Section detail</title>
				<content>
				{{section.body}}
				</content>
			</content>
			
		</div>	


		<div id="maincol_bottom">
			<content id="sectionother" type="text">
				<title>Section detail</title>
				<content>
				{{section.other}}
				</content>
			</content>
			
		</div>	
	</div>

</body>
</html>