<!DOCTYPE html>
<html>
<head>
	<title>Single page</title>
	<meta name="description" content="Single column layout">
	<meta name="author" content="Tom peer">
</head>

<body data-extends="main">
	
	<div id="contentwrap">
		<div id="maincol">
			<content id="sectiontitle" type="title" data-notes="Notes here" class="scheme-title">
				<title>Section title</title>
				<content>
				{{section.title}}
				</content>
			</content>	

			<content id="sectioncopy" type="text">
				<title>Section copy</title>
				<content>
				{{section.copy}}
				</content>
			</content>
		</div>
	</div>

</body>
</html>