<!DOCTYPE html>
<html>
<head>
	<title>Extends single page with a sub menu</title>
	<meta name="description" content="Extends single page with a sub menu in the extra column">
	<meta name="author" content="Tom peer">
</head>

<body data-extends="section">
	
	<div id="contentheader_nav">
		<content id="mainsectionnav" type="button" class="scheme-button scheme-navbutton">
			<title>Parent link button</title>
			<content>
				{{section.parent_title}}
			</content>
			<link>{{section.parent_link}}</link>
		</content>
	</div>

	<div id="xcol">
		
		<div id="xcol_top">
			<content id="sectionmenu" type="menu">

				<style>
					menu-orientation:vertical;
					menu-align:left;
				</style>

				<dataset tag="{parent}" type="sections"></dataset>
				
			</content>
		</div>
		<div id="xcol_bottom">

			<content id="sectionnext" />
			<content id="sectionprev" />

		</div>
		
	</div>	
	

</body>
</html>