scheme-popupbutton {
	position:fixed;
	top:4px;
}

scheme-title {
	color:accent;
	font-family:bodyfont;
	font-size:2.4em;
	font-weight:300;
}

scheme-intros {
	font-weight:bold;
	font-style:italic;
	margin:0 0 1em 0;
}

scheme-navbuttons {
	grid {
		grid-mode: fixedcols;
		grid-columns:2;
	}
}

scheme-button {
	icon-width:32;
	hover {
		link-color:accent;
	}
	shape:left_arrow;
}

scheme-navnext {
	label-align: right;
	button-direction:row-reverse;
	shape:right_arrow;
}

scheme-listings {
	image-align:left;
	item {
		margin:12 0;
		padding:12;
		border {
			width:1px;
			color:bordercolor;
		}
	}
	title {
		padding:0;
	}
	text {
		padding:0;
	}
	mobile {
		image-align:center;
	}
	
}

scheme-carousel {
	htop:1;
	image-align:left;
	carousel:1;
}

